footer {
  background-color: #000;
  color: #fff;
  .string {
    &.last {
      border-top: 3px solid #666666;
      padding: 50px 0;
      font-family: Roboto;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    }
  }
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .logo {
    display: flex;
    align-items: center;
    width: min-content;
    height: 50px;
    font-family: Forum;
    font-size: 28px;
    display: flex;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 140px;
    svg{
      margin-right: 25px;
    }
  }
  ul {
    list-style: none;
    width: min-content;
    height: min-content;
  }
  nav{
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    margin-right: 252px;
    width: 363px;
    margin-bottom: 50px;
    ul{
      li{
        margin-bottom: 25px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
  .social {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }
}
