*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  height: 100%; }

body {
  width: 100%;
  height: inherit;
  box-sizing: border-box; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; }

.momentum {
  width: inherit;
  height: inherit;
  background-color: #3d0000;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

main {
  flex-grow: 1; }

.slider-skip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a1a1a;
  opacity: 0.3;
  padding: 0.5rem 1.855rem;
  border-radius: 50%;
  transition: all 0.3s;
  outline: 2px solid #e6e6e6; }
  .slider-skip.prev {
    left: 1%; }
  .slider-skip.next {
    right: 1%; }
  .slider-skip svg {
    pointer-events: none;
    height: 5rem; }
    .slider-skip svg polygon {
      fill: #fff; }
  .slider-skip:hover {
    cursor: pointer;
    opacity: 0.7; }

.images {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  justify-content: center; }

.img-container {
  position: absolute;
  width: inherit;
  height: inherit;
  transition: all 0.5s; }
  .img-container:nth-of-type(1) {
    margin-left: -200%; }
  .img-container:nth-of-type(2) {
    margin-left: -100%; }
  .img-container:nth-of-type(3) {
    margin-left: 0%; }
  .img-container:nth-of-type(4) {
    margin-left: 100%; }
  .img-container:nth-of-type(5) {
    margin-left: 200%; }

header {
  background-color: #009c7a;
  display: inline-flex;
  justify-content: space-between; }

.player {
  background-color: #aaa; }

.weather {
  background-color: #aaa;
  width: 10%;
  height: 100%; }

.control-buttons {
  display: flex;
  justify-content: center; }
  .control-buttons svg {
    width: 3.5rem; }

.button:nth-of-type(2) {
  margin: 0 1rem; }

main {
  width: min-content;
  color: #fafafa; }

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s; }
  .info:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.time {
  font-size: 12rem; }

.date {
  margin-top: -1rem;
  font-size: 2.5rem; }

.greet {
  font-size: 4rem; }

.user-name {
  font-size: inherit;
  font-family: inherit;
  height: fit-content;
  width: 15rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: transparent;
  color: inherit; }

footer {
  width: 100%;
  height: 10%;
  background-color: #000;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%; }

.quote {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  justify-self: center;
  height: 40%;
  width: 20%;
  background-color: #fff; }

.git-logo {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: end;
  height: 40%;
  width: 20%;
  background-color: #fff; }
