@mixin art-logo($size: 1) {
  .art-logo {
    position: relative;
    height: $size * 9rem;
    width: $size * 28rem;
  }
  h1 {
    position: absolute;
    left: $size * 3rem;
    top: $size * 1rem;
    font-size: $size * 6rem;
  }

  .circle {
    &-c1,
    &-c2 {
      left: $size * 1rem;
      position: absolute;
      border-radius: 50%;
      width: $size * 9rem;
      height: $size * 9rem;
    }
    &-c1 {
      border: 1.5px solid rgb(255, 0, 255);
    }
    &-c2 {
      border: 1.5px solid rgb(0, 247, 255);
      left: $size * 6rem;
    }
  }
}
