@import '../util/variables';

footer {
  width: 100%;
  background-color: $color-area-background;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  color: $color-main-text;
}
.quote {
  @include background;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 2%;
  z-index: 1;
}
.quote-new {
  align-self: center;
  svg {
    height: 3rem;
    width: 3rem;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
    path {
      fill: $color-main-attract;
    }
  }
}
.git-logo {
  @include background;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  justify-self: end;
  z-index: 1;
  color: $color-main-text;
  margin-bottom: 1%;
  margin-right: 1%;
  padding: 0.5rem;
  svg {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  path {
    fill: $color-main-attract;
  }
  ul {
    display: flex;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}
