@import '../util/variables';

footer {
  width: 100%;
  background-color: $color-area-background;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  color: $color-main-text;
}
.quote {
  @include background;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 2%;
  z-index: 1;
}
.quote-new {
  @include hover-svg-style(0.92, 1.3);
  align-self: center;
  svg {
    height: 3rem;
    width: 3rem;
  }
}
.git-logo {
  @include background;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  justify-self: end;
  z-index: 1;
  color: $color-main-text;
  margin-bottom: 1%;
  margin-right: 1%;
  padding: 0.5rem;
  svg {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  path {
    fill: $color-main-attract;
  }
  ul {
    display: flex;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}
@media (max-width: 1000px) {
  .quote {
    justify-self: flex-start;
    margin-left: 45%;
    transform: translateX(-50%);
    margin-bottom: 6rem;
  }
}
@media (max-width: 880px) {
  footer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
  }
  .quote {
    justify-self: center;
    margin-left: 0;
    transform: translateX(0);
    width: 100%;
    margin-bottom: 0;
    grid-row: 1;
    font-size: 1.4rem;
  }
  .quote-new {
    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
    &:hover {
    }
  }
  .git-logo {
    grid-row: 2;
    justify-self: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    svg {
      transform: scale(0.7);
    }
  }
}
@media (max-width: 600px) {
}
