@import '../util/mixins';
@import '../util/variables';

header {
  display: inline-flex;
  justify-content: space-between;
  color: $color-main-text;
}
svg {
  pointer-events: none;
}

.weather {
  @include background;
  margin: 1% 2% 0 0;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  z-index: 1;
}

.weather-city {
  width: 20rem;
}

.weather-icon {
  font-size: 6rem;
  padding: 1rem 0 0 0;
  align-self: center;
}
.weather-city {
  background-color: transparent;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.1rem $color-main-text;
}
.player {
  @include background;
  margin: 1% 0 0 2%;
  z-index: 1;
}
.control {
  margin-bottom: 1.5rem;
}
.play-list {
  @include scrollbar-style;
  height: 15rem;
  overflow-y: scroll;
  padding-right: 1rem;
}

.control-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-main-text;
  }
}

svg,
path,
polygon {
  transition: all 0.4s;
}
.button {
  margin: 0 1.5rem 0 0;
  display: flex;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
    polygon {
      fill: $color-main-attract;
    }
    path {
      fill: $color-main-attract;
    }
  }
  &:active {
    transform: scale(1.3);
  }
}

.bar {
  @include input-style;
  height: 0.85rem;
}

.volume {
  width: 10rem;
}

.track-name {
  display: block;
  height: 2.3rem;
}

.duration {
  width: 100%;
  margin: 1rem 0;
}
.time-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.track {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.active {
  color: $color-main-attract;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.85);
  path {
    fill: $color-main-attract;
  }
}
.icon-play {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-main-text;
  }
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
    path {
      fill: $color-main-attract;
    }
  }
  &:active {
    transform: scale(1.1);
  }
}

@media (max-width: 1400px) {
  .weather {
    font-size: 1.7rem;
  }
  .weather-city {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .player {
    font-size: 1.4rem;
    width: 20rem;
  }
  .volume {
    width: 100%;
  }
  .button {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
  }
  .icon-play {
    height: 2rem;
    width: 2rem;
  }
  .weather {
    font-size: 1.4rem;
  }
}

.error {
  color: $color-error;
}
