@import '../util/variables';

main {
  width: min-content;
  color: #fafafa;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.1);

  padding: 1rem;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.time {
  font-size: 12rem;
}

.date {
  margin-top: -1rem;
  font-size: 2.5rem;
}

.greet {
  font-size: 4rem;
}

.user-name {
  font-size: inherit;
  font-family: inherit;
  height: fit-content;
  width: 15rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background-color: transparent;
  color: inherit;
}
