@import '../util/mixins';
@import '../util/variables';

main {
  width: min-content;
  color: $color-main-text;
}

.info {
  @include background;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 11rem;
  transition: all 0.5s;
}

.date {
  margin-top: -1rem;
  font-size: 3rem;
  transition: all 0.5s;
}

.greet {
  font-size: 5rem;
  transition: all 0.5s;
}

.user-name {
  height: fit-content;
  width: 15rem;
  border-radius: 0.3rem;
  background-color: transparent;
}

.to-do-list {
  @include background;
  position: absolute;
  right: 1%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
}
.to-dos {
  @include scrollbar-style();
  max-height: 10rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-main-text;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.to-dos-item {
  display: inline-flex;
  align-items: center;
}
.checker {
  margin-right: 1rem;
}
.to-do-create {
  color: $color-area-background;
  display: flex;
  justify-items: center;
}
.add-new {
  display: flex;
  margin-left: 1rem;
  svg {
    border: 0.2rem solid $color-main-text;
    border-radius: 50%;
    pointer-events: none;
    height: 3rem;
    width: 3rem;
    stroke: $color-main-text;
  }
  &:hover {
    svg {
      border: 0.2rem solid $color-main-attract;
      stroke: $color-main-attract;
      transform: scale(1.2);
    }
  }
  &:active {
    svg {
      transform: scale(0.4);
    }
  }
}
.crossed {
  text-decoration: line-through;
  color: darken($color-main-text, 30%);
}

@media (max-width: 1400px) {
  .time {
    font-size: 7.5rem;
  }
  .date {
    font-size: 2rem;
  }

  .greet {
    font-size: 3.6rem;
  }
}

@media (max-width: 880px) {
  .time {
    font-size: 4.5rem;
  }
  .date {
    font-size: 1.6rem;
  }

  .greet {
    font-size: 2.5rem;
  }

  .to-do-list {
    font-size: 1.4rem;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 6rem;
  }
  .add-new{
    svg{
      height: 2.3rem;
    width: 2.3rem;
    }
  }
}
