@import '../util/variables';

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 10vw;
  height: 15vh;
}