.main-box {
  &__dresser-wrapper {
    color: $color-text-main;
    display: flex;
    width: 100%;
    height: calc(100vh - 5.4rem - 5.8rem);
  }
}

.dresser-wrapper {
  &__config,
  &__decoration {
    width: $size-decoration-column;
    display: grid;
    background: $color-background-filters;
    overflow: hidden;
    justify-content: center;
  }
  &__config {
    position: relative;
    overflow-y: auto;
    grid-gap: 2rem;
  }
  &__xmas-tree {
    position: relative;
    flex-grow: 3;
    background: center / cover no-repeat url(../assets/bg/1.webp);
    overflow: hidden;
  }
  &__decoration {
    position: relative;
    overflow-y: auto;
    align-content: start;
    grid-gap: 4rem;
  }
  &__clear {
    @include hover-scale(1.05);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $color-mark-favourite;
    }
  }
}

.features {
  &__list {
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    grid-template-rows: fit-content;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__description {
    margin-right: 1rem;
  }
  &__icon {
    @include equalSize(3rem);
    pointer-events: visible;
    &:hover {
      cursor: pointer;
      path {
        fill: $color-mark-favourite;
      }
    }
  }
  &__sound-icon {
    &_state_active {
      path {
        fill: $color-mark-favourite;
      }
    }
  }
  &__snow-icon {
    &_state_active {
      path {
        fill: $color-mark-favourite;
      }
    }
  }
}

.config {
  &__features,
  &__trees,
  &__background,
  &__light {
    height: fit-content;
  }
  &__header {
    color: $color-text-main;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__list {
    width: fit-content;
    display: grid;
    padding: 1.5rem;
    background: darken($color-background-filters, 5%);
    border-radius: 1.5rem;
    border-bottom: 1px solid $color-text-main;
    border-left: 1px solid $color-text-main;
  }

  &__features {
    margin-top: 1.5rem;
  }

  &-tree {
    &__list {
      grid-template-columns: repeat(3, $size-xmas_tree-img);
      grid-gap: 1.7rem;
    }
    &__item {
      @include img-align-center;
      @include hover-scale;
      border-radius: 1.5rem;
      overflow: hidden;
      background: $color-text-main;
      &:hover {
        filter: contrast(150%);
      }
    }
    &__img {
      width: $size-xmas_tree-img;
      &_state_active {
        border: 3px solid $color-xmas-light-yellow;
        background: darken($color-text-main, 20%);
      }
    }
  }
  &-background {
    &__list {
      grid-template-columns: repeat(5, $size-xmas_background-img);
      grid-gap: 1rem;
    }
    &__item {
      @include img-align-center;
      @include hover-scale;
      border-radius: 0.8rem;
      overflow: hidden;
      &:hover {
        filter: contrast(150%);
      }
    }
    &__img {
      @include equalSize($size-xmas_background-img);
      &_state_active {
        border: 3px solid $color-xmas-light-yellow;
      }
    }
  }
  &-light {
    &__list {
      grid-template-columns: repeat(8, 1.5rem);
      grid-gap: 1.5rem;
      border-radius: 1.5rem 1.5rem 0 0;
      border-bottom: 1px solid darken($color-xmas-light-white, 80%);
    }
    &__item {
      @include equalSize(1.5rem);
      @include hover-scale;
      border-radius: 50%;
      &_color {
        &_white {
          background: $color-xmas-light-white;
        }
        &_red {
          background: $color-xmas-light-red;
        }
        &_blue {
          background: $color-xmas-light-blue;
        }
        &_green {
          background: $color-xmas-light-green;
        }
        &_yellow {
          background: $color-xmas-light-yellow;
        }
        &_purple {
          background: $color-xmas-light-purple;
        }
        &_pink {
          background: $color-xmas-light-pink;
        }
        &_multy {
          background: $color-xmas-light-multy;
        }
      }
      &_color-pick_single,
      &_color-pick_multy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &__custom-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $color-background-filters;
      padding: 1.5rem;
      border-radius: 0 1.5rem 0 0;
      border-bottom: 1px solid darken($color-xmas-light-white, 80%);
      border-left: 1px solid $color-text-main;
    }
    &__custom-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $color-background-main;
      padding: 1rem;
      border-radius: 0.5rem;
      &:first-of-type {
        margin-right: 1.5rem;
      }
    }

    &__option-list {
      border-radius: 0 0 1.5rem 1.5rem;
      width: 100%;
      grid-gap: 1rem;
      margin-bottom: 1.5rem;
    }

    &__option-item {
      display: flex;
      flex-direction: column;
      padding-top: 0.5rem;
      border-top: 1px solid darken($color-xmas-light-white, 80%);

      &:first-of-type {
        border-top: none;
      }
    }
    &__option-switch {
      flex-direction: row;
      align-items: center;
    }
    &__option-header {
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }

    &__option-brightness,
    &__option-speed,
    &__option-mode {
      overflow: hidden;
      height: 6rem;
      transition: all 0.35s;

      &_state_active {
        height: 21rem;
      }
    }
  }
}

.color-pick {
  &__description {
    margin-bottom: 0.5rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__single-picker,
  &__multiple-picker {
    @include size(4rem, 2rem);
    @include hover-scale;
    border: none;
    &::-webkit-color-swatch {
      border: none;
      &-wrapper {
        padding: 0;
      }
    }
  }
  &__multiple-picker {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.light-options {
  &__switcher-box {
    @include size(10rem, 3rem);
    color: $color-text-dark;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 5rem;
    background: $color-background-option;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      .light-options__switcher {
        background: lighten($color-background-filters, 10%);
        transform: scale(0.95);
      }
    }

    &_state_active {
      flex-direction: row-reverse;
      &:hover {
        .light-options__switcher {
          background: lighten($color-text-main, 10%);
        }
      }
    }
  }
  &__switcher {
    @include equalSize(2.5rem);
    border-radius: 50%;
    background: $color-background-filters;
    transition: all 0.2s;

    &-condition {
      margin-right: 2rem;
    }

    &_state_active {
      background: $color-text-main;
    }
  }

  &__value-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__show-icon {
    @include equalSize(2.5rem);
    fill: $color-text-main;
  }

  &__brightness-list,
  &__speed-list,
  &__mode-list {
    overflow-y: auto;
    height: 10rem;
    background: $color-background-option;
    display: grid;
    grid-gap: 0.5rem;
    align-items: center;
  }

  &__brightness-item,
  &__speed-item,
  &__mode-item {
    padding: 0.3rem 2rem;
    transition: all 0.15s;
    &:hover {
      cursor: pointer;
      color: $color-text-dark;
      font-weight: bolder;
      background: $color-background-toy_list;
    }
  }
}

.xmas-tree {
  &__img {
    filter: contrast(120%) brightness(110%) saturate(120%);
    &-wrapper {
      @include size(fit-content, fit-content);
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.decoration {
  &__list {
    display: grid;
  }

  &__toys {
    margin-top: 1.5rem;
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }
  &__work {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }
}

.decor-toys {
  &__header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  &__list {
    width: $size-decoration-column - 2rem * 2;
    overflow-y: auto;
    padding: 1.5rem;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(4, $size_xmas-toy_img + 2rem);
    justify-content: center;
    border-radius: 1.5rem;
    border-bottom: 1px solid $color-text-main;
    border-right: 1px solid $color-text-main;
    background: $color-text-dark;
  }
  &__item {
    @include equalSize(7rem);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    background: $color-text-main;
    overflow: hidden;
    &_state_picked{
      background: $color-mark-favourite;
    }
  }
  &__img {
    @include equalSize($size_xmas-toy_img);
    @include hover-bright;
    &:hover {
      cursor: grab;
    }
  }
  &__counter {
    @include equalSize(3rem);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.15rem;
    right: -0.15rem;
    font-size: 1.7rem;
    border-radius: 50%;
    color: $color-text-dark;
    background: $color-background-option;
  }
}

.clear {
  &__btn {
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    font-weight: bolder;
    color: $color-text-dark;
    background: $color-background-option;
  }
}

.work {
  &__header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  &__list {
    height: 23rem;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-xmas_tree-img);
    justify-content: center;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border-bottom: 1px solid $color-text-main;
    background-color: $color-background-filters;
  }
  &-list {
    &__img {
      @include hover-bright;
      width: $size-xmas_tree-img;
      background: $color-text-main;
      border-radius: 1.5rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .dresser-wrapper {
    &__config,
    &__decoration {
      width: 28rem;
    }
  }
  .config {
    &-tree {
      &__list {
        grid-template-columns: repeat(2, 8rem);
        grid-template-rows: repeat(3, 11rem);
        height: 30rem;
        overflow-y: scroll;
      }
    }
    &-background {
      &__list {
        grid-template-columns: repeat(4, 4rem);
      }
    }
    &-light {
      &__custom-list {
        flex-direction: column;
      }
    }
    &__features,
    &__trees,
    &__background,
    &__light {
      width: fit-content;
    }
  }

  .decor-toys {
    &__list {
      grid-template-columns: repeat(2, 7rem);
      height: 40rem;
      width: fit-content;
      overflow-y: scroll;
    }
  }
}
@media screen and (max-width: 1300px) {
  .main-box {
    &__dresser-wrapper {
      flex-direction: column;
    }
  }
  .dresser-wrapper {
    &__config,
    &__decoration {
      width: 100%;
      grid-auto-flow: column;
      align-items: center;
    }
    &__config {
      height: 20rem;
      grid-auto-flow: row;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
    }
    &__decoration {
      grid-gap: 1rem;
      grid-auto-flow: row;
    }
  }
  .config {
    &__list {
      padding: 0.9rem;
    }
    &-tree {
      &__header {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
      &__list {
        grid-template-columns: repeat(6, 5rem);
        grid-template-rows: auto;
        height: fit-content;
        overflow-y: scroll;
      }
      &__img {
        width: 5rem;
      }
    }
    &-background {
      &__list {
        grid-template-columns: repeat(4, 4rem);
      }
    }
    &__light {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, auto);
    }
    &-light {
      &__header {
        grid-row: 1;
        grid-column: span 2;
      }
      &__list {
        width: 100%;
        border-radius: 1.5rem 0 0 0;
        grid-row: 2;
        grid-column: 1;
        border-top: 1px solid $color-text-main;

      }
      &__custom-list {
        grid-row: 3;
        grid-column: 1;
        flex-direction: row;
        border-radius: 0;
      }
      &__option-list {
        border-radius: 0 1.5rem 0 0;
        border-top: 1px solid $color-text-main;
        border-left: none;
        border-bottom: none;
        grid-row: span 2;
        grid-column: 2;
        height: 13rem;
        overflow-y: scroll;
        margin-bottom: 0;
      }
    }
    &__features,
    &__trees,
    &__background,
    &__light {
      width: fit-content;
    }
    &__features {
      grid-row: 1;
      grid-column: 1;
    }
    &__trees {
      grid-row: 1;
      grid-column: 2;
    }
    &__background {
      grid-row: 1;
      grid-column: 3;
    }
    &__light {
      grid-row: 2;
      grid-column: span 3;
    }
  }

  .features__list {
    display: flex;
    flex-direction: column;
  }

  .xmas-tree {
    &__img-wrapper {
      transform: translateX(-50%) scale(0.7) translateY(20%);
    }
  }

  .decoration__toys {
    margin-top: 0;
  }

  .decor-toys {
    &__list {
      grid-template-columns: repeat(auto-fill, 6rem);
      grid-gap: 0.3rem;
      height: 7rem;
      width: 97vw;
      overflow-x: scroll;
      padding: 0.2rem 0.2rem 0 0.2rem;
    }
    &__item {
      @include equalSize(5rem);

      padding: 0.5rem;
    }
    &__img {
      @include equalSize(4rem);
    }
    &__counter {
      @include equalSize(2rem);
    }
  }
  .clear__btn {
    @include hover-scale(0.9);
  }
}
@media screen and (max-width: 750px) {
  .config {
    &-tree {
      &__list {
        grid-template-columns: repeat(3, 4rem);
      }
      &__img {
        width: 4rem;
      }
    }
    &-background {
      &__list {
        grid-template-columns: repeat(4, 3rem);
      }
      &__img {
        @include equalSize(3rem);
      }
    }
    &__light {
      grid-template-rows: repeat(4, auto);
    }
  }
}
