.button-disabled {
  user-select: none;
  pointer-events: none;
  filter: grayscale(100%);
  &:hover {
    cursor: not-allowed;
    filter: grayscale(100%);
    transform: translateY(0);
  }
}

.table-header_asc {
  border-bottom: 0.4rem solid $color-header-active !important;
}

.table-header_desc {
  border-top: 0.4rem solid $color-header-active !important;
}