$color-background-main: #000;
$color-text-main: #fffb00;
$color-text-button-main: #000;
$color-background-button-main: #fbff00f6;
$color-button-start:rgb(80, 219, 0);
$color-button-back:rgb(221, 0, 0);