@mixin background() {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.1);

  padding: 1rem;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@mixin input-style() {
  transition: all 0.3s;
  -webkit-appearance: none;
  border-radius: 1rem;
  background: linear-gradient(to right, $color-main-attract 0%, $color-main-attract 50%, #c4c4c4 50.1%, #c4c4c4 100%);
  &::-webkit-slider-thumb {
    transition: all 0.3s;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2rem;
    width: 1rem;
    background: #fff;
  }
  &:hover {
    cursor: pointer;
    &::-webkit-slider-thumb {
      background: rgb(255, 0, 0);
    }
  }
}
