@mixin background() {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.1);

  padding: 2rem;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 880px) {
    padding: .7rem;
  }
}

@mixin input-style() {
  transition: all 0.3s;
  -webkit-appearance: none;
  border: 1px solid $color-area-background;
  border-radius: 1rem;
  background: linear-gradient(to right, $color-main-attract 0%, $color-main-attract 50%, #c4c4c4 50.1%, #c4c4c4 100%);
  &::-webkit-slider-thumb {
    transition: all 0.3s;
    -webkit-appearance: none;
    cursor: pointer;
    outline: 1px solid $color-area-background;
    border-radius: 20%;
    height: 2rem;
    width: 0.9rem;
    background: #fff;
  }
  &:hover {
    cursor: pointer;
    &::-webkit-slider-thumb {
      background: rgb(255, 0, 0);
    }
  }
}

@mixin scrollbar-style() {
  &::-webkit-scrollbar {
    height: 10rem;
    width: 1.2rem;
    outline: 1px solid $color-area-background;
    border-radius: 10rem;
    background: $color-main-attract;
    &:hover {
      cursor: pointer;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $color-area-background;
    border-radius: 10rem;
  }
}

@mixin checkbox-style() {
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background: $color-main-text;
  outline: 0.1rem solid $color-area-background;
  transition: all 0.3s;
  &:checked {
    background-color: $color-area-background;
    border: 0.2rem solid $color-main-attract;
  }
}
