@import '../util/variables';
@import '../util/util';

main {
  width: 100%;
  margin: 0 auto;
}
h2,
h3 {
  font-weight: 400;
}

button {
  border: none;
}
section {
  .wrapper {
    height: inherit;
    @include setFlex($justify: space-between);
  }
}
.section-dark {
  background-color: $color-bg-dark;
}
.section-light {
  background-color: #fff;
}

.welcome {
  aside {
    display: none;
    nav {
      svg {
        pointer-events: none;
      }
      span {
        pointer-events: none;
      }
    }
  }
  @include setSize($h: 810px);
  color: #fff;
  overflow: hidden;

  .wrapper {
    @include setFlex($justify: flex-end);
    position: relative;
  }

  .text {
    @include setPosition($top: 0, $left: 0);
    @include setSize($w: 598px, $h: 388px);
    margin-top: 153px;
    z-index: 10;
  }
  p {
    @include setFont(Roboto, 28px, 300, 2px);
    margin-top: 26px;
  }
  a {
    @include setFont(Roboto, 22px, 300, 2px);
    display: inline-block;
    margin-top: 76px;
    padding: 23px 66px;
    border-radius: 10px;
    background-color: $color-attract;
    transition: all 0.4s;
    &:hover {
      background: $color-hover;
      transform: scale(1.05);
      box-shadow: 0px 0px 10px 5px lighten($color-bg-dark, 20%);
    }
  }

  .img {
    @include setSize($w: 1000px, $h: 750px);
    position: relative;
    overflow: hidden;
    img {
      transition: all 0.4s;
    }
  }
  .shadow {
    @include setPosition($top: 0, $right: 0);
    @include setSize($w: inherit, $h: inherit);
    z-index: 1;
    background: linear-gradient(to right, $color-bg-dark 0%, transparent 30%);
    pointer-events: none;
  }

  .container {
    @include setSize($w: 600px, $h: 120px);
    @include setPosition($bottom: 1px, $right: 0);
    @include setFlex($display: flex, $align: center, $justify: center);
    background-color: #000;
  }
  .pagination {
    @include setSize($w: inherit, $h: inherit);
    @include setFlex($display: inline-flex, $justify: space-evenly);
    @include setFont(Roboto, 22px, 400);
    padding: 0 17px;
    z-index: 10;
    div {
      @include setFlex($display: inline-flex, $justify: space-between, $align: center);

      &:nth-of-type(1) {
        width: 76px;
      }
      span {
        height: 40px;
        line-height: 40px;
        text-align: center;
      }
    }
  }
  ul {
    @include setSize($w: inherit, $h: 40px);
    @include setFlex($display: inline-flex, $justify: space-between);
    padding: 0;
    li {
      @include setFlex($display: inline-flex, $align: center);
    }
  }
  .pages {
    align-self: center;
    width: 180px;
    li {
      padding: 0;
      margin: 0;
      &:hover {
        cursor: pointer;
        .page {
          cursor: inherit;
          background-color: $color-hover;
          transform: scale(0.95);
        }
      }
    }
    .page {
      @include setSize($w: 16px, $h: 16px);
      align-self: center;
      pointer-events: none;
      transition: 0.3s;
    }
    .active {
      background-color: $color-hover;
    }
  }
  .arrows {
    @include setSize($w: 80px, $h: inherit);
    li {
      svg {
        pointer-events: none;
        path {
          pointer-events: none;
          transition: all 0.3s;
        }
      }

      &:hover {
        cursor: pointer;
        svg {
          path {
            fill: $color-hover;
            transform: scale(0.95);
          }
        }
      }
    }
  }
}

.visiting {
  height: fit-content;

  .wrapper {
    @include setFlex($display: flex, $justify: flex-start, $direction: column);
    height: inherit;
  }
  h2 {
    margin-top: 3px;
    color: #9d8665;
    &::after {
      bottom: -27px;
    }
  }

  h3 {
    @include setFont(Forum, 32px, null, 5px);
    margin-top: 23.4px;
    text-transform: uppercase;
    position: relative;
    &::after {
      @include setSize($w: 68%, $h: 2px);
      @include setPosition($bottom: -12px, $left: 0, $right: 0);
      content: '';
      background-color: #710707;
      transition: all 0.6s;
    }
  }
  p {
    @include setFont(Roboto, 22px, 100);
    margin-top: 22px;
    &:last-of-type {
      margin-top: 10px;
      font-size: 18px;
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 71px 60px;
    li {
      @include setSize($w: min-content, $h: min-content);
      transition: all 0.3s;
      &:hover {
        color: $color-hover;
        transform: scale(1.05);
        box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
        h3 {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.explore {
  color: #fff;

  .wrapper {
    height: 715px;
    @include setFlex($display: flex, $justify: space-between);
  }

  .text {
    max-width: 659px;
  }
  p {
    margin-top: 26px;
    line-height: 1.75;
    @include setFont(Roboto, 22px, 300);
  }
  span {
    color: #caaa7d;
  }

  .img {
    width: 720px;
    position: relative;
    height: inherit;
  }
  .img-container {
    height: 100%;
    pointer-events: none;
    &:nth-of-type(1) {
      @include setPosition($top: 0, $left: 0);
    }
    &-1 {
      width: 61.3%;
      overflow: hidden;
    }
  }
  img {
    height: 100%;
    pointer-events: none;
    &:nth-of-type(2) {
      @include setPosition($top: 0, $left: 0);
    }
  }
  .comparer {
    @include setPosition($top: 0, $right: 36%);
    cursor: move;
    height: inherit;
    z-index: 1;
  }
  svg {
    pointer-events: none;
    path {
      pointer-events: none;
    }
  }
}

.video {
  .wrapper {
    @include setFlex($display: flex, $direction: column);
    height: 1246px;
  }
  .text {
    @include setFlex($display: flex, $justify: space-between);
    margin-bottom: 75px;
  }
  h2 {
    color: #9d8665;
  }
  p {
    @include setFont(Roboto, 22px, 300);
    line-height: 1.8;
    align-self: center;
    max-width: 720px;
  }

  & &-player {
    position: relative;
    @include setFlex($display: flex, $direction: column);
    @include setSize($w: 1440px, $h: 735px);
    svg {
      path {
        transition: all 0.4s;
      }
      &:hover {
        path {
          fill: $color-hover;
        }
      }
    }
    &:fullscreen {
      @include setSize($w: 100%, $h: 100%);
      .film {
        @include setSize($w: 100%, $h: 100%);
        background-color: $color-bg-dark;
      }
      .player-panel {
        align-self: center;
      }
    }
  }

  .play-group {
    @include setSize($w: min-content, $h: min-content);
    @include setPosition($top: 44.5%, $left: 50%);
    z-index: 5;
    transform: translate(-50%, -50%);
    &:hover {
      svg {
        path {
          transform: scale(0.9) translate(10px, 10px);
        }
      }
    }
  }
  .film {
    @include setSize($w: 100%, $h: 650px);
    background-color: $color-bg-dark;
  }
  .player-panel {
    @include setSize($w: inherit, $h: 85px);
    @include setFlex($display: flex, $justify: space-between, $align: center);
    padding: 0 2.1%;
    background: $color-bg-dark;
  }
  .panel-btn {
    svg {
      pointer-events: none;
      path {
        transition: all 0.5s;
        pointer-events: none;
      }
    }
    &:hover {
      svg {
        path {
          fill: $color-hover;
        }
      }
    }
  }
  .progress {
    @include setSize($w: 930px, $h: 15px);
    background: linear-gradient(to right, $color-attract 0%, $color-attract 53.5%, #c4c4c4 53.6%, #c4c4c4 100%);
  }
  .volume {
    @include setSize($w: 155px, $h: 15px);
    background: linear-gradient(to right, $color-attract 0%, $color-attract 42%, #c4c4c4 42.1%, #c4c4c4 100%);
  }
  .bar {
    border-radius: 1px;
    height: 8px;
    outline: none;
    transition: all 0.3s;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      @include setSize($w: 15px, $h: 15px);
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: pointer;
      background: #fff;
    }
  }

  .slider {
    @include setFlex($display: flex, $justify: space-between, $align: center, $direction: column);
    margin-top: 40px;

    .videos {
      width: 1440px;
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(5, 31.4%);
      column-gap: 3%;
      margin-bottom: 31px;
      overflow: hidden;
    }
    iframe {
      @include setSize($w: 452px, $h: 254px);
    }
    li {
      @include setSize($w: 100%, $h: auto);
    }
    .iframe {
      @include setSize($w: 100%, $h: auto);
      position: relative;
      img {
        @include setSize($w: 100%, $h: auto);
      }
      svg {
        @include setPosition($top: 50%, $left: 50%);
        transform: translate(-50%, -50%);
      }
    }
    .top {
      @include setPosition($top: 15px, $left: 10px);
      width: calc(100% - 20px);
      display: flex;
      align-items: center;
      color: #fff;
      img {
        @include setSize($w: 40px, $h: 40px);
        margin-right: 10px;
      }
      ul {
        @include setSize($w: 4px, $h: 16px);
        @include setPosition($top: 8px, $right: 25px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      p {
        flex-grow: 1;
        @include setFont(Roboto, 18px, 400);
      }
      li {
        @include setSize($w: 4px, $h: 4px);
        background-color: #fff;
        border-radius: 50%;
        &:last-of-type {
          margin-top: 0;
        }
      }
    }

    &-position {
      @include setSize($w: 222px, $h: 30px);
      @include setFlex($display: flex, $justify: space-between, $align: center);
      margin-left: 20px;
      .page {
        @include setSize($w: 12px, $h: 12px);
        border-radius: 50%;
        align-self: center;
        background-color: #999999;
        transition: 0.3s;
      }

      .active {
        background-color: $color-bg-dark;
      }

      li {
        svg {
          path {
            transition: 0.3s;
          }
        }
        &:hover {
          cursor: pointer;
          .page {
            cursor: inherit;
            background-color: $color-bg-dark;
            transform: scale(0.9);
          }
          svg {
            path {
              fill: $color-hover;
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}

.gallery {
  height: 2200px;
  overflow: clip;
  color: #fff;
  position: relative;
  .wrapper {
    height: inherit;
    @include setFlex($display: flex, $direction: column);
  }
  h2 {
    margin-bottom: 75px;
  }

  .pictures {
    @include setSize($w: inherit, $h: inherit);
    overflow-y: hidden;
  }
  ul {
    height: 3000px;
    columns: 3 auto;
    column-gap: 36px;
    width: 100%;
  }
  li {
    width: 100%;
    height: min-content;
    margin-bottom: 24px;
    &:nth-of-type(1),
    &:nth-of-type(11) {
      padding-top: 50px;
    }
  }
  .shown {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  img {
    width: 100%;
    transition: all 2s ease-out;
    transform: translate(0, 120%) scale(0.5);
    opacity: 0;
  }
  .shadow {
    @include setPosition($bottom: 0);
    @include setSize($w: inherit, $h: 400px);
    background: linear-gradient(to top, $color-bg-dark 20%, transparent);
  }
}

.tickets {
  position: relative;
  .wrapper {
    @include setFlex($display: flex, $direction: column);
  }
  .data {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: max-content auto auto;
  }
  h2 {
    color: #9d8665;
    &::after {
      bottom: -29px;
    }
  }
  .img {
    width: 100%;
    @include setFlex($display: flex, $align: center);
    grid-column: 1;
    grid-row: 1 / span 3;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  .ticket {
    @include setFlex($display: flex, $direction: column);
    @include setFont(Roboto, 22px, 300);
    &.type {
      grid-column: 2;
      grid-row: 1;
      margin-left: 60px;
      h3 {
        @include setFont(Roboto, 28px, 700);
        margin-bottom: 49px;
      }
      label {
        margin-bottom: 24px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        @include setSize($w: 16px, $h: 16px);
        border-radius: 50%;
        border: 2px solid $color-bg-dark;
        transition: 0.2s all linear;
        margin-right: 24px;
      }

      input:checked {
        background: radial-gradient($color-bg-dark 35%, transparent 36%);
      }
    }

    &.amount {
      justify-self: end;
      width: 150px;
      grid-column: 3;
      grid-row: 1;
      h3 {
        @include setFont(Roboto, 28px, 700);
        margin-bottom: 25px;
        text-align: right;
      }
      input {
        @include setSize($w: inherit, $h: inherit);
        @include setFont(Roboto, 22px, 300);
        text-align: center;
        border: 3px solid $color-bg-dark;
        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .age {
        p {
          margin-bottom: 13px;
        }
      }
      .senior {
        margin-top: 12px;
      }
    }
    .btn-amount {
      @include setSize($w: 150px, $h: 50px);
      position: relative;
    }
    .btn {
      @include setFont(Roboto, 32px, 400);
      @include setSize($w: 25px, $h: inherit);
      @include setPosition($top: 0);
      margin: 0;
      border: none;
      background: transparent;
      &:nth-of-type(1) {
        left: 10px;
      }
      &:nth-of-type(2) {
        right: 10px;
      }
    }
  }
  .total {
    margin-top: 49px;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.65px;
    width: max-content;
    align-self: end;
  }
  .btn-buy {
    @include setSize($w: 175px, $h: 50px);
    @include setFont(Roboto, 22px, 300, 2px);
    margin-top: 61px;
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    background-color: $color-bg-dark;
    color: #fff;
    transition: all 0.35s;
    &:hover {
      background: $color-hover;
      transform: scale(1.15);
      color: $color-bg-dark;
      box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
    }
  }
}

.parallax {
  @include setSize($w: 100%, $h: 400px);
  overflow: hidden;
  margin: 0 auto;
  background-image: url('../assets/img/parallax.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contacts {
  .wrapper {
    @include setFlex($display: flex, $direction: column);
  }
  .data {
    @include setFlex($display: flex, $justify: space-between);
  }
  #map{
    height: 500px;
    width: 800px;
  }
  h2 {
    color: #9d8665;
    &::after {
      bottom: -29px;
    }
  }
  h3 {
    @include setFont(Roboto, 28px, 400);
    margin-bottom: 50px;
  }
  li {
    @include setFont(Roboto, 22px, 300);
    margin-top: 24px;
  }
  a {
    color: inherit;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      color: $color-hover;
    }
  }
}

.form {
  @include setPosition($top: 0, $left: 0, $position: fixed);
  @include setSize($w: 100%, $h: 100%);
  @include setFlex($display: flex, $align: center);

  background: rgba(0, 0, 0, 0.6);
  transition: all 1s;
  z-index: 100;
  margin-left: -150%;

  .booking {
    @include setSize($w: 1440px, $h: 855px);
    @include setFlex($display: flex, $justify: center, $align: center);

    background-color: #fff;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
  }
  .close {
    @include setPosition($top: 34px, $right: 29px);
  }
  .forum-header {
    width: inherit;
    border-bottom: 3px solid $color-attract;
    margin-bottom: 60px;
    h3 {
      @include setFont(Forum, 50px, null);
      text-transform: uppercase;
      color: $color-hover;
      margin-bottom: 10px;
    }
    p {
      @include setFont(Roboto, 18px, 400);
      margin-bottom: 10px;
      color: $color-attract;
    }
  }

  .valid {
    border: 1px solid rgb(0, 221, 0) !important;
  }
  .invalid {
    margin-top: 2px;
    border: 1px solid red !important;
    &:focus {
      border: 1px solid red !important;
      outline: none;
    }
  }
  .invalid-text {
    @include setFont(Roboto, 12px, 400);
    color: red;
    position: sticky;
    display: none;
  }
  .details {
    @include setSize($w: 400px, $h: 663px);
    @include setFlex($display: flex, $direction: column);

    .input-group {
      height: 45px;
      width: 100%;
      position: relative;
      margin-bottom: 20px;
    }
    .data-type {
      @include setFlex($display: flex, $align: center);
      @include setFont(Roboto, 18px, 400);
      @include setPosition($top: 50%, $left: 15px);
      transform: translateY(-50%);
      svg {
        margin-right: 14px;
      }
    }
    input {
      @include setFont(Roboto, 18px, 400);
      @include setSize($w: inherit, $h: inherit);
      padding-left: 40px;
      border: 1px solid $color-bg-dark;
      color: $color-bg-dark;
      &::-webkit-input-placeholder {
        color: $color-bg-dark;
        @include setFont(Roboto, 18px, 400);
      }
    }
    .ticket-date {
      &::-webkit-datetime-edit-text {
        @include setFont(Roboto, 18px, 400);
        color: $color-bg-dark;
      }
    }
    select {
      @include setSize($w: inherit, $h: inherit);
      @include setFont(Roboto, 18px, 400);
      -webkit-appearance: none;
      background: url(../assets/svg/form/arrow.svg);
      background-repeat: no-repeat;
      background-position: right 14px top 14px;
      padding-left: 40px;
    }

    .date-time {
      display: flex;
      justify-content: space-between;
      .input-group {
        width: 190px;
        input {
          padding-left: 40px;
        }
      }
      input {
        &::-webkit-calendar-picker-indicator {
          padding: 0;
          width: 40px;
          height: 45px;
          margin: 0;
          background: url(../assets/svg/form/arrow.svg);
          background-repeat: no-repeat;
          background-position: right 14px top 14px;
        }
      }
    }

    .ticket-amount {
      height: 135px;
      padding: 10px 15px 15px 15px;
      border: 1px solid $color-bg-dark;
    }
    h4 {
      @include setFont(Forum, 18px, null);
      color: $color-hover;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-attract;
      }
    }
    .type {
      margin-top: 23px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include setFont(Roboto, 18px, 400);
      &:nth-of-type(2) {
        margin-top: 17px;
      }
      .btn-amount {
        width: 105px;
        height: 25px;
        display: flex;
        align-content: center;
      }
      .btn {
        position: relative;
        @include setFont(Roboto, 18px, 400);
        height: inherit;
        width: 35px;
        background-color: $color-bg-dark;
        border: none;
        color: #fff;
      }
      input {
        padding: 0;
        width: 35px;
        height: inherit;
        text-align: center;
        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  .payment {
    @include setSize($w: 530px, $h: 663px);
    @include setFlex($display: flex, $align: flex-end, $direction: column);
    margin-left: 40px;
    border: 1px solid $color-bg-dark;
    .data-type {
      @include setFont(Roboto, 18px, 300);
      width: 470px;
      margin: 25px 30px 22px 30px;
      position: relative;
      h3 {
        @include setFont(Roboto, 32px, 400);
        margin-bottom: 2px;
      }
      p {
        @include setFont(Roboto, 22px, 400);
        margin-bottom: 7px;
        color: $color-attract;
      }

      div {
        @include setFlex($display: flex, $align: center);
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
        svg {
          margin-right: 15px;
        }
      }
      img {
        @include setSize($w: 150px, $h: 120px);
        @include setPosition($top: 0, $right: 0);
      }
    }

    .summary {
      @include setFlex($display: flex, $direction: column);
      @include setFont(Roboto, 22px, 400);
      width: 470px;
      margin: 0 30px 0 30px;
      .amount {
        @include setFlex($display: flex, $justify: space-between);

        &-type {
          @include setFlex($display: flex, $align: center);
        }

        &-total {
          @include setSize($w: 32px, $h: 20px);
          font-size: 18px;
          text-align: center;
          background-color: $color-bg-dark;
          color: #a4a4a3;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
      .underline {
        margin-top: 5px;
        position: relative;
        &::after {
          @include setPosition($left: 0, $right: 0, $bottom: -10px);
          content: '';
          height: 2px;
          background-color: $color-attract;
        }
      }
      .whole-sum {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        h4 {
          @include setFont(Roboto, 32px, 400);
        }
        p {
          @include setFont(Roboto, 32px, 400);
        }
        margin-bottom: 10px;
      }
    }
    .summary-card {
      @include setSize($w: 470px, $h: 241px);
      margin: 0 30px 26px 30px;
      position: relative;
    }
    .card {
      @include setSize($w: 360px, $h: 211px);
      @include setFont(Roboto, 12px, 400);
      @include setFlex($display: inline-flex, $direction: column);
      position: relative;
      &.front {
        @include setPosition($top: 0, $left: 0);
        z-index: 10;
        background: #bcbcbc;
        padding: 15px 20px;
        input {
          height: 35px;
          margin: 5px 0 10px 0;
          padding-left: 10px;
          @include setFont(Roboto, 12px, 400);
          &.number {
            width: 215px;
          }
          &.name {
            width: 320px;
            margin-bottom: 0;
          }
        }
        div {
          input {
            width: 100px;
            &:first-of-type {
              margin-right: 15px;
            }
          }
        }
      }
      .visa {
        @include setPosition($top: 34px, $right: 20px);
      }
      .mastercard {
        @include setPosition($top: 65px, $right: 20px);
      }
      &.back {
        @include setPosition($bottom: 0, $right: 0);
        background: #939393;
        align-items: end;
        .line {
          @include setSize($w: 100%, $h: 45px);
          margin: 25px 0 15px 0;
          background-color: #161615;
        }
        .container {
          width: 75px;
          margin-right: 20px;
          @include setFlex($display: flex, $align: center, $direction: column);
        }
        p {
          width: 55px;
          &:last-of-type {
            font-size: 10px;
          }
        }
        input {
          @include setSize($w: 75px, $h: 35px);
          margin: 5px 0 6px 0;
          padding-left: 10px;
        }
      }
    }

    .submit {
      @include setSize($w: 220px, $h: 45px);
      margin: 0 30px 20px 30px;
      background: $color-attract;
      border: none;
      color: #fff;
      text-align: center;
      @include setFont(Roboto, 22px, 400);
      transition: all 0.35s;
      &:hover {
        background: $color-hover;
        transform: scale(1.1);
        color: $color-bg-dark;
        box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
      }
    }
  }
}

@media screen and (max-width: $screen-size-normal) {
  main {
    min-width: 0;
    max-width: $screen-size-normal;
  }

  .welcome {
    height: 595px;
    position: relative;
    aside {
      margin-left: -100%;
      padding: 44px 50px;
      @include setPosition($top: 0, $left: 0);
      @include setSize($w: 300px, $h: 100%);
      background-color: $color-bg-dark;
      z-index: 200;
      display: block;
      transition: all 1s ease-out;
      .addition {
        display: none;
      }
      ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 100%;
      }
      li {
        padding: 0;
        height: fit-content;
        width: fit-content;
        padding-top: 25px;
        &:first-of-type {
          padding-top: 0;
        }
      }
      a {
        @include setSize($w: 130px, $h: 23px);
        @include setFont(Roboto, 20px, 300, 2px);
        margin: 0;
        padding: 5px;
        background-color: transparent;
        line-height: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease-out;
        &:hover {
          background: none;
          transform: translateX(10px);
          box-shadow: 0px 0px 10px 5px lighten($color-bg-dark, 20%);
        }
      }
    }
    .text {
      margin-top: 60px;
      margin-left: 20px;
    }
    h2 {
      line-height: 177%;
    }
    p {
      font-size: 24px;
    }
    a {
      @include setSize($w: 300px, $h: 60px);
      padding: 0;
      text-align: center;
      line-height: 60px;
      margin-top: 51px;
      letter-spacing: 1px;
    }
    .img {
      margin-top: 10px;
      @include setSize($w: 700px, $h: 525px);
      overflow: hidden;
    }
    img {
      height: inherit;
    }
    .shadow {
      background: linear-gradient(to right, #030303 16.19%, transparent 30.73%);
    }
    .pagination {
      padding: 0;
      margin-left: 9px;
      justify-content: space-between;
      @include setSize($w: 400px, $h: 40px);
      font-size: 20px;
      div {
        &:nth-of-type(1) {
          width: 71px;
        }
      }
    }
    .pages {
      width: 160px;
      .page {
        @include setSize($w: 12px, $h: 12px);
      }
    }
    .arrows {
      li {
        @include setSize($w: 30px, $h: inherit);
      }
    }
  }

  .visiting {
    h2 {
      margin-top: 10px;
      margin-bottom: 92px;
      &::after {
        bottom: -32px;
      }
    }
    ul {
      width: 100%;
      grid-template-columns: repeat(2, 33.6%);
      grid-template-rows: repeat(3, auto);
      grid-gap: 60px 0;
      justify-content: space-evenly;
      li {
        width: 100%;
      }
      img {
        width: 100%;
      }
      h3 {
        font-size: 28px;
        letter-spacing: 3px;
        &::after {
          width: 45%;
        }
      }
      p {
        font-size: 20px;
        &:last-of-type {
          font-size: 16px;
        }
      }
    }
  }

  .explore {
    h2 {
      margin-top: 9px;
      margin-bottom: 95px;
      &::after {
        bottom: -32px;
      }
    }
    .wrapper {
      height: 1029px;
      flex-direction: column;
      justify-content: flex-start;
    }
    .text {
      max-width: 100%;
    }
    p {
      margin-top: 0;
      font-size: 20px;
      &:last-of-type {
        display: none;
      }
    }
    .img {
      margin-top: 62px;
      align-self: center;
      width: 720px;
    }
  }

  .video {
    h2 {
      margin-top: 12px;
    }
    .wrapper {
      height: fit-content;
    }
    .text {
      margin-bottom: 45px;
      p {
        display: none;
      }
    }

    & &-player {
      @include setSize($w: 100%, $h: fit-content);
    }

    .play-group {
      svg {
        @include setSize($w: 152px, $h: 152px);
      }
    }
    .film {
      @include setSize($w: 100%, $h: auto);
    }

    .progress {
      @include setSize($w: 564px, $h: 5px);
    }
    .volume {
      @include setSize($w: 143px, $h: 5px);
    }
    .bar {
      &::-webkit-slider-thumb {
        @include setSize($w: 13px, $h: 13px);
      }
    }
    .volume-btn {
      @include setSize($w: 26px, $h: 20px);
    }
    .size-btn {
      @include setSize($w: 26px, $h: 26px);
    }

    .player-panel {
      @include setSize($w: inherit, $h: 60px);
      padding: 0 40px;
    }

    .slider {
      .videos {
        width: 100%;
        grid-template-columns: repeat(3, 30.5%);
        max-height: 170px;
      }
      iframe {
        width: 100%;
        max-height: 170px;
      }
    }
    .iframe {
      max-height: 170px;
      p {
        visibility: hidden;
        position: relative;
        font-size: 18px;
      }

      .top {
        align-items: start;
      }
    }
    li {
      &:nth-of-type(1) {
        p {
          &::after {
            @include setPosition($top: 0, $left: 0);
            visibility: visible;
            content: 'Exposition - Le Corps...';
          }
        }
      }
      &:nth-of-type(2) {
        p {
          &::after {
            @include setPosition($top: 0, $left: 0);
            visibility: visible;
            content: 'Au Louvre ! La Venu...';
          }
        }
      }
      &:nth-of-type(3) {
        p {
          &::after {
            @include setPosition($top: 0, $left: 0);
            visibility: visible;
            content: 'Promenade dans les...';
          }
        }
      }
    }
  }

  .gallery {
    height: 1460px;

    ul {
      columns: 3 auto;
      column-gap: 36px;
      width: 100%;
    }
    li {
      width: 100%;
    }
    img {
      width: 100%;
    }
    .shadow {
      background: linear-gradient(to top, #030303, transparent);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .tickets {
    h2 {
      &::after {
        bottom: -33px;
      }
      margin-bottom: 93px;
    }
    .data {
      grid-template-columns: 71.5% auto;
    }
    .type {
      display: none;
    }
    .img {
      width: inherit;
      max-height: 440px;
      grid-column: 1;
      grid-row: 1 / span 3;
      @include setFlex($display: flex, $align: center);
      overflow: hidden;
    }
    img {
      width: 100%;
    }
    .ticket {
      &.amount {
        width: 175px;
        grid-column: 2;
        margin-right: 29px;
        h3 {
          margin-bottom: 28px;
          text-align: left;
        }
        input {
          @include setSize($w: inherit, $h: inherit);
          @include setFont(Roboto, 22px, 300);
        }
        .age {
          p {
            margin-bottom: 10px;
          }
        }
        .senior {
          margin-top: 27px;
        }
      }
      .btn-amount {
        @include setSize($w: 175px, $h: 50px);
      }
      .btn {
        @include setPosition($top: 0);
        &:nth-of-type(2) {
          right: 14px;
        }
      }
    }

    .total {
      margin-top: 25px;
    }
    .btn-buy {
      margin-top: 0;
      grid-column: 2;
      grid-row: 3;
      margin-right: 28px;
    }
  }

  .parallax {
    @include setSize($w: 100%, $h: 400px);
    background-size: cover;
    background-position: center;
  }

  .contacts {
    h2 {
      margin-top: 10px;
      margin-bottom: 92px;
      &::after {
        bottom: -33px;
      }
    }
    h3 {
      font-size: 24px;
      margin-bottom: 32px;
    }
    li {
      font-size: 20px;
      margin-top: 15px;
    }
    .text {
      min-width: 290px;
    }
    img {
      @include setSize($w: 100%, $h: auto);
    }
  }

  .form {
    .booking {
      @include setSize($w: 1024px, $h: 768px);
      align-items: flex-end;
      padding-bottom: 30px;
    }
    .close {
      @include setPosition($top: 30px, $right: 27px);
    }
  }
}

@media screen and (max-width: $screen-size-small) {
  main {
    max-width: $screen-size-small;
  }
  .welcome {
    height: 861px;
    aside {
      padding: 29px 50px;
      width: 100%;
      height: max-content;
      .addition {
        margin-left: 4px;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      .images2 {
        display: none;
      }
      .images1 {
        height: fit-content;
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
        margin-top: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        li {
          padding: 0;

          &:nth-of-type(1) {
            grid-row: 2;
            grid-column: 1;
          }
          &:nth-of-type(2) {
            grid-row: 2;
            grid-column: 2;
          }
          &:nth-of-type(3) {
            grid-row: 1;
            grid-column: 1 / span 2;
          }
        }
      }
      .social {
        @include setSocial;
        align-self: center;
        height: fit-content;
        margin: 35px 0 0 0;
      }
    }
    .wrapper {
      @include setFlex($display: flex, $justify: flex-start, $align: center, $direction: column);
    }
    .text {
      height: min-content;
      margin-top: 0;
      position: relative;
      text-align: center;
      margin-left: 5px;
      margin-top: -1px;
    }
    h2 {
      line-height: 145%;
    }
    p {
      font-size: 20px;
      margin: 25px 0 50px 0;
    }
    a {
      display: none;
    }
    .container {
      height: 104px;
      justify-content: flex-start;
    }
    .pagination {
      margin-left: 15px;
      margin-top: -5px;
    }
    .img {
      width: 100%;
      height: min-content;
      margin-top: -3px;
    }
    img {
      max-width: 100%;
    }
    .shadow {
      display: none;
    }
  }
  .visiting {
    h2 {
      margin-top: 2px;
      margin-bottom: 71px;
    }
    padding: 40px 0;
    ul {
      grid-template-columns: repeat(2, 38.5%);
      grid-gap: 40px 0;
      h3 {
        font-size: 20px;
        letter-spacing: 4px;
        &::after {
          width: 54%;
        }
      }
      p {
        font-size: 18px;
        &:last-of-type {
          font-size: 16px;
        }
      }
    }
  }
  .explore {
    margin-top: 37px;
    height: 908px;
    h2 {
      margin-bottom: 68px;
    }
    .wrapper {
      height: min-content;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .text {
      width: 100%;
    }
    p {
      display: none;
    }
    .img {
      height: fit-content;
      width: 100%;
      margin-top: 0;
    }
    img {
      height: auto;
      width: 100%;
    }
    svg {
      @include setPosition($top: 0, $right: 36%);
    }
  }
  .video {
    & &-player {
      @include setSize($w: 100%, $h: fit-content);
    }
    .play-group {
      @include setSize($w: 80px, $h: 80px);
      svg {
        @include setSize($w: 80px, $h: 80px);
      }
    }
    .player-panel {
      @include setSize($w: inherit, $h: 63px);
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
    .text {
      margin-bottom: 23px;
    }
    .progress {
      order: -1;
      width: 100%;
      grid-row: 1;
      grid-column: 1 / span 4;
    }
    .volume {
      flex-grow: 2;
      margin-left: 35px;
    }
    .play-btn {
      height: 29px;
      margin: 8px 35px 12px 30px;
    }
    .size-btn {
      margin: 0 30px 0 35px;
    }

    .slider {
      margin-top: 16px;
      .videos {
        margin-bottom: 10px;
        grid-template-columns: repeat(2, 48.7%);
        max-height: 200px;
        li {
          &:last-of-type {
            display: none;
          }
        }
      }
      iframe {
        max-height: 200px;
      }
      .iframe {
        max-height: 200px;
      }
      .slider-position {
        width: 210px;
      }
      .page {
        @include setSize($w: 10px, $h: 10px);
      }
    }
  }
  .gallery {
    height: 1220px;
    margin-top: 30px;
    h2 {
      margin-top: 8px;
      margin-bottom: 48px;
    }
    ul {
      columns: 2 auto;
      column-gap: 24px;
    }
    li {
      &:nth-of-type(11) {
        padding-top: 0;
      }
    }
  }
  .tickets {
    h2 {
      margin-top: 8px;
      margin-bottom: 54px;
      &::after {
        bottom: -31px;
      }
    }
    .data {
      grid-template-columns: 61% auto;
    }
    .ticket {
      &.amount {
        margin-right: 50px;
        margin-top: 15px;
        h3 {
          margin-bottom: 38px;
        }
        .senior {
          margin-top: 25px;
        }
        .total {
          margin-top: 37px;
        }
      }
    }
    .img {
      margin-top: -34px;
    }
    .btn-buy {
      margin-top: 40px;
      margin-right: 49px;
    }
  }
  .parallax {
    max-height: 300px;
  }
  .contacts {
    h2 {
      margin-top: 7px;
      margin-bottom: 70px;
    }
    .data {
      flex-direction: column;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 40px;
    }
    li {
      font-size: 18px;
    }
    .img {
      margin-top: 40px;
      width: 100%;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .form {
    .forum-header {
      margin-bottom: 41px;
    }
    .booking {
      height: 100%;
      max-width: 590px;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      overflow-y: scroll;
      padding-top: 80px;
    }
    .details {
      width: 530px;
      .date-time {
        width: 100%;
        .input-group {
          width: 47.4%;
          input {
            width: 100%;
          }
        }
      }
    }
    .overview {
      width: 100%;
    }
    .payment {
      margin-left: 0;
      .data-type {
        width: auto;
        margin: 15px;
      }
      .amount {
        margin-right: 0;
      }
      .summary {
        width: 94.5%;
        margin: 15px;
      }
      .summary-card {
        margin: 0 16px 19px -0;
        width: 499px;
      }
      .sumbit {
        margin: 8px 15px 11px 26px;
      }
    }
  }
}

@media screen and (max-width: $screen-size-tiny) {
  main {
    max-width: $screen-size-tiny;
  }
  .welcome {
    height: max-content;
    overflow: visible;
    aside {
      padding: 34px 50px;
      .images1 {
        display: none;
      }
      .images2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        li {
          padding: 0;
          width: 95px;
          height: 95px;
          margin-bottom: 10px;
          &:nth-of-type(1) {
            grid-row: 1;
            grid-column: 1;
          }
          &:nth-of-type(2) {
            grid-row: 1;
            grid-column: 3;
          }
          &:nth-of-type(3) {
            grid-row: 1;
            grid-column: 2;
          }
        }
      }
      .social {
        width: 260px;
        margin: 24px 0 0 0;
      }
    }
    .container {
      @include setSize($w: 100%, $h: 40px);
      margin: 20px 0;
      font-size: 16px;
      position: relative;
      justify-content: center;
    }
    h2 {
      margin-top: 7px;
      margin-left: -7px;
    }
    p {
      font-size: 16px;
    }
    .pagination {
      margin-top: 1px;
      font-size: 16px;
      margin-left: 0;
      width: 230px;
      div {
        &:nth-of-type(1) {
          width: 50px;
        }
      }
    }
    .pages {
      @include setSize($w: 75px, $h: 40px);
      .page {
        @include setSize($w: 7px, $h: 7px);
      }
    }
    .arrows {
      @include setSize($w: 55px, $h: 40px);
      svg {
        @include setSize($w: 20px, $h: 8px);
      }
    }
  }
  .visiting {
    h2 {
      &::after {
        bottom: -29px;
      }
    }
    ul {
      grid-template-columns: 73%;
      grid-gap: 44px 0;
      h3 {
        margin-top: 21px;
        font-size: 18px;
        letter-spacing: 4.8px;
        &::after {
          bottom: -14px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }
  .explore {
    margin-top: 2px;
    height: fit-content;
    h2 {
      margin-top: 4px;
      &::after {
        bottom: -28px;
      }
    }
    img {
      width: 100%;
    }
  }
  .video {
    margin-top: -3px;
    h2 {
      margin-top: 1px;
    }
    .play-group {
      left: 54%;
      svg {
        @include setSize($w: 50px, $h: 50px);
      }
    }
    .player-panel {
      height: 55px;
    }
    .play-btn {
      margin: 0px 8.1% 8px 5%;
      @include setSize($w: 14px, $h: 18px);
    }
    .volume-btn {
      margin-bottom: 8px;
      @include setSize($w: 18px, $h: 14px);
    }
    .size-btn {
      margin: 0 4.9% 9px 7%;
      @include setSize($w: 18px, $h: 18px);
    }
    .progress {
      height: 4px;
      margin-bottom: 8px;
    }
    .volume {
      width: auto;
      margin-left: 7%;
      height: 4px;
      margin-bottom: 8px;
    }
    .slider {
      margin-top: 36px;
      .videos {
        grid-template-columns: repeat(2, 47%);
        margin-bottom: 28px;
      }
      iframe {
        max-height: 105px;
      }
      .slider-position {
        width: 195px;
      }
      .page {
        @include setSize($w: 8px, $h: 8px);
      }
      svg {
        @include setSize($w: 7px, $h: 8px);
      }
    }
    .iframe {
      svg {
        @include setSize($w: 68px, $h: 48px);
      }
    }
    .dots {
      display: none;
    }
    li {
      &:nth-of-type(1) {
        p {
          &::after {
            content: 'Exposition...';
          }
        }
      }
      &:nth-of-type(2) {
        p {
          &::after {
            content: 'Au Louvre ! ...';
          }
        }
      }
    }
  }
  .gallery {
    margin-top: -12px;
    height: 756px;
    h2 {
      margin-top: 5px;
      margin-bottom: 44px;
    }
  }
  .tickets {
    h2 {
      margin-bottom: 99px;
      &::after {
        bottom: -25px;
      }
    }
    .data {
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
    }
    .img {
      grid-row: 1;
      grid-column: 1;
      max-height: 160px;
    }

    .ticket.amount {
      justify-self: center;
      margin-top: 40px;
      margin-right: 0;
      grid-row: 2;
      grid-column: 1;
      h3 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
      }
      .age {
        p {
          margin-bottom: 15px;
        }
      }
      .senior {
        margin-top: 20px;
      }
      p {
        font-size: 16px;
      }
      .total {
        margin-top: 40px;
        margin-left: 48px;
        letter-spacing: 0.25px;
      }
    }
    .btn-buy {
      justify-self: center;
      font-size: 16px;
      margin-top: 40px;
      margin-right: 0;
      grid-row: 3;
      grid-column: 1;
    }
  }
  .form {
    overflow-y: scroll;
    height: 100%;
    .booking {
      height: 100%;
      width: 100%;
      padding-bottom: 50px;
      width: 420px;
    }
    .details {
      margin-bottom: 50px;
      .date-time {
        flex-wrap: wrap;
        .input-group {
          width: 100%;
        }
      }
      width: calc(100% - 60px);
      height: 100%;
      justify-content: stretch;
      .forum-header {
        margin-bottom: 40px;
      }
      h3 {
        font-size: 32px;
        margin-bottom: 13px;
      }
    }
    .payment {
      justify-content: stretch;
      width: calc(100% - 60px);
      height: 100%;
      .overview {
        width: 100%;
      }
      .data-type {
        width: calc(100% - 30px);
        margin: 15px;
        img {
          width: 120px;
          height: auto;
        }
      }
      .summary {
        width: calc(100% - 30px);
        margin: 0 15px;
      }
      .summary-card {
        width: calc(100% - 30px);
        height: 100%;
        margin: 0 15px;
      }
      .card {
        width: 100%;
        &.front {
          position: relative;
          input {
            &.name {
              width: 100%;
            }
          }
        }
        &.back {
          position: relative;
        }
      }
      .btn-submit {
        height: 100%;
        margin: 40px 0 25px 0;
      }
      .submit {
        margin: 0 15px;
      }
      h3,
      p {
        width: fit-content;
      }
    }
  }
  .contacts {
    h2 {
      margin-bottom: 65px;

      &::after {
        bottom: -25px;
      }
    }
    h3 {
      font-size: 16px;
    }
    li {
      font-size: 16px;
    }
  }
}

.moveLeft {
  animation: moveLeft 0.5s ease-out;
  animation-fill-mode: forwards;
}
.moveRight {
  animation: moveRight 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveLeft {
  100% {
    transform: translateX(-110%);
    display: none;
  }
}

@keyframes moveRight {
  100% {
    transform: translateX(110%);
    display: none;
  }
}
