.main {
  &__box {
    margin: 1rem 1.5rem;
  }
}
.main-box {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 5rem;
    }
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__page-num {
    margin-bottom: 2rem;
  }
  &__page-nav-box {
    margin-top: 3rem;
  }
  &__page-nav-btn {
    @include buttonize;
    margin-right: 0.7rem;
  }
}

.manage-item {
  &__button {
    @include buttonize;
    text-transform: capitalize;
    &_type_control {
      margin-right: 0.7rem;
    }
  }
  &__input {
    margin-right: 0.7rem;
    &_type_text {
      padding: 0.3rem 0.5rem;
    }
    &_type_color {
      outline: 0;
      border: 0;
    }
  }
}

.car-item {
  &__list {
    border-bottom: 2px dashed #fff;
    margin-bottom: 1rem;
    position: relative;
  }
  &__item {
    display: flex;
    position: relative;
    &:first-of-type {
      align-items: center;
      margin-bottom: 1.2rem;
    }
    &:last-of-type {
      justify-content: space-between;
    }
  }
  &__car-img-box {
    flex-grow: 1;
    display: flex;
    margin-bottom: -0.6rem;
    height: calc($car-width / 2);
    width: fit-content;
    align-self: end;
  }
  &__car-img {
    height: min-content;
    width: $car-width;
  }
  &__win-car-img {
    height: 2.5rem;
    width: fit-content;
  }
  &__finish-img-box {
    position: absolute;

    height: $finish-icon-height;
    right: $car-width + 6rem;
  }
  &__finish-img {
    height: $finish-icon-height;
    width: fit-content;
    g {
      fill: #fff;
    }
  }
  &__btn {
    align-self: start;
    margin-right: 1rem;
    text-transform: capitalize;
    &_type {
      &_select {
        @include buttonize($color-text-button-main, $color-background-button-main);
      }
      &_remove {
        @include buttonize($color-text-button-main, $color-button-back);
      }
      &_start {
        @include buttonize($color-text-button-main, $color-button-start);
      }
      &_back {
        @include buttonize($color-text-button-main, $color-button-back);
      }
    }
  }
}

.display-winner {
  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-text-winner-main;
    background: $color-background-main;
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 2rem lighten($color-background-main, 70%);
  }
  &__winner {
    color: $color-text-winner-second;
  }
}

.win-table {
  border-collapse: collapse;
  td,
  th {
    border: 0.15rem solid $color-button-start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  tr {
    display: grid;
    grid-template-columns: 7rem 7rem 15rem 5rem 9rem;
    grid-template-rows: 4.7rem;
  }
  &__header-number,
  &__header-time,
  &__header-wins {
    background: darken($color-text-winner-second, 35%);
    border: 0.2rem solid transparent;

    &:hover {
      cursor: pointer;
      filter: contrast(140%) brightness(130%);
      border: 0.2rem solid $color-header-active;
    }
  }
}

.table-header_asc {
  border-bottom: 0.2rem solid $color-header-active;
}

.table-header_desc {
  border-top: 0.2rem solid $color-header-active;
}
