@import '../util/variables';
@import '../util/util';

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  .string {
    &.first {
      height: 266px;
    }
    &.last {
      @include setFont($fontFamily: Roboto, $fontSize: 22px, $fontWeight: 100, $fontSpacing: 2px);
      @include setFlex($display: flex, $align: center);

      height: 124px;
      border-top: 3px solid #666;
      padding: 50px 0;
      .wrapper {
        line-height: 1;
      }
      p {
        &:nth-of-type(2) {
          margin-left: 106px;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    align-self: start;
    @include setFlex($display: flex, $align: center);
    @include setSize($w: min-content, $h: 50px);
    @include setFont($fontFamily: Forum, $fontSize: 28px, $fontSpacing: 5px);
    text-transform: uppercase;
    margin-top: 77px;
    line-height: 100%;
    svg {
      margin-top: -10px;
      margin-right: 25px;
    }
  }
  ul {
    @include setSize($w: min-content, $h: min-content);
    &:nth-of-type(2) {
      margin-right: 4px;
    }
  }
  nav {
    @include setFont($fontFamily: Roboto, $fontSize: 22px, $fontWeight: 100, $fontSpacing: 2px);
    width: 363px;
    margin: 87px 17.8% 0 0;
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
    }
    li {
      padding: 0;
      margin-bottom: 24px;
      transition: all 0.4s;
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        grid-column: 1;
      }
      &:nth-of-type(4) {
        grid-column: 2;
        grid-row: 1;
      }
      &:nth-of-type(5) {
        grid-column: 2;
        grid-row: 2;
      }
      &:nth-of-type(6) {
        grid-column: 2;
        grid-row: 3;
      }
      &:nth-of-type(3n) {
        margin-bottom: 0;
      }
      &:hover {
        color: $color-hover;
        transform: scale(0.95);
      }
    }
  }
  .social {
    @include setSocial;
  }
}

@media screen and (max-width: $screen-size-normal) {
  footer {
    min-width: 0;
    width: 100%;

    .string {
      &.first {
        height: max-content;
      }
      &.last {
        height: 122px;
        p {
          &:nth-of-type(2) {
            margin-left: 90px;
          }
        }
      }
    }
    .logo {
      @include setSize($w: 194px, $h: 30px);
      margin-top: 60px;
    }
    nav {
      width: 313px;
      margin: 6.8% 1% 50px -1%;
      ul {
        justify-content: space-between;
      }
    }
    .social {
      margin: 42px 0 50px 0;
      width: 340px;
    }
  }
}
@media screen and (max-width: $screen-size-small) {
  footer {
    .string.first {
      height: 308px;
      .wrapper {
        display: grid;
        grid-template-columns: 27.3% 72.7%;
        grid-template-rows: repeat(2, auto);
      }
    }
    .logo {
      margin-top: 50px;
    }
    nav {
      margin-top: 57px;
      margin-left: 95px;
      ul {
        font-size: 18px;
        column-gap: 184px;
      }
    }
    .social {
      grid-column: 2;
      grid-row: 2;
      align-self: center;
      justify-self: center;
      margin: 1px 0 1px 0;
    }
    .last {
      height: 102px;
    }
  }
}
@media screen and (max-width: $screen-size-tiny) {
  footer {
    .string {
      height: 300px;
      &.first {
        .wrapper {
          grid-template-columns: 100%;
          grid-template-rows: repeat(3, auto);
        }
      }
      &.last {
        height: 100px;
        p {
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
    .logo {
      font-size: 18px;
    }
    nav {
      width: 100%;
      margin: 40px 0 0 0;
      grid-column: 1;
      grid-row: 2;
      ul {
        width: 100%;
        font-size: 16px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 0;
        row-gap: 30px;
      }
      li {
        margin: 0;
        &:nth-of-type(1) {
          grid-row: 1;
          grid-column: 1;
        }
        &:nth-of-type(2) {
          grid-row: 2;
          grid-column: 1;
        }
        &:nth-of-type(3) {
          grid-row: 1;
          grid-column: 2;
        }
        &:nth-of-type(4) {
          grid-row: 2;
          grid-column: 2;
        }
        &:nth-of-type(5) {
          grid-row: 1;
          grid-column: 3;
        }
        &:nth-of-type(6) {
          grid-row: 2;
          grid-column: 3;
        }
      }
    }
    .social {
      margin-top: 40px;
      grid-column: 1;
      grid-row: 3;
      justify-content: center;
      li {
        margin-right: 5px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
