@import '../util/variables';
@import '../util/util';

footer {
  min-width: $screen-size-big;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  .string {
    &.last {
      @include setFont($fontFamily: Roboto, $fontSize: 22px, $fontWeight: 100, $fontSpacing: 2px);
      border-top: 3px solid #666;
      padding: 50px 0;
      .wrapper {
        line-height: 1;
      }
      p {
        &:nth-of-type(2) {
          margin-left: 106px;
        }
      }
    }
  }
  .wrapper {
    @include setFlex($display: flex, $justify: space-between, $align: end);
  }
  .logo {
    @include setFlex($display: flex, $align: center);
    @include setSize($w: min-content, $h: 50px);
    @include setFont($fontFamily: Forum, $fontSize: 28px, $fontSpacing: 5px);
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 140px;
    line-height: 100%;
    svg {
      margin-top: -10px;
      margin-right: 25px;
    }
  }
  ul {
    @include setSize($w: min-content, $h: min-content);
    &:nth-of-type(2) {
      margin-right: 4px;
    }
  }
  nav {
    @include setFont($fontFamily: Roboto, $fontSize: 22px, $fontWeight: 100, $fontSpacing: 2px);
    @include setFlex($display: flex, $justify: space-between);
    margin-left: -4px;
    margin-right: 252px;
    width: 363px;
    margin-bottom: 50px;

    li {
      margin-bottom: 25px;
      transition: all 0.4s;
      &:hover {
        color: $color-hover;
        transform: scale(0.95);
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .social {
    @include setFlex($display: inline-flex, $justify: space-between);
    width: 340px;
    margin-bottom: 55px;
    li {
      @include setSize($w: 48px, $h: 48px);
      @include setFlex($display: inline-flex, $justify: center, $align: center);
      border: 1px solid #666666;
      border-radius: 50%;
      transition: all 0.4s;
      svg {
        path {
          transition: all 0.4s;
        }
      }
      &:hover {
        border: 1px solid $color-hover;
        transform: scale(0.95);
        svg {
          path {
            fill: $color-hover;
          }
        }
      }
      a {
        @include setSize($w: inherit, $h: inherit);
        @include setFlex($display: inline-flex, $justify: center, $align: center);
      }
    }
  }
}

@media screen and (max-width: $screen-size-normal) {
  footer {
    min-width: 0;
    max-width: $screen-size-normal;

    .string {
      &.last {
        p {
          &:nth-of-type(2) {
            margin-left: 90px;
          }
        }
      }
    }

    nav {
      width: 313px;
      margin-right: 92px;
      margin-left: 45px;
    }
    .social {
      width: 340px;
    }
  }
}
@media screen and (max-width: $screen-size-small) {
  footer {
    max-width: $screen-size-small;
  }
}
@media screen and (max-width: $screen-size-tiny) {
  footer {
    max-width: $screen-size-tiny;
  }
}
