@import '../util/variables';

header {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  padding: 59px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adaptive-menu {
  display: none;
}
.logo {
  display: flex;
  svg {
    margin-right: 25px;
  }
}
h1 {
  @include setFont($fontFamily: Forum, $fontSize: 28px, $fontWeight: 400, $fontSpacing: 5px);
  text-transform: uppercase;
}
nav {
  max-width: 770px;
  ul {
    display: inline-flex;
    justify-content: space-between;
    @include setFont($fontFamily: Roboto, $fontSize: 22px, $fontWeight: 100, $fontSpacing: 2px);
  }
  li {
    padding-right: 55px;
    transition: 0.4s;
    a {
      transition: 0.4s;
    }
    &:hover {
      transform: scale(0.95) translateX(-2px);
      a {
        color: $color-hover;
      }
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: $screen-size-normal) {
  header {
    min-width: 0;
    width: 100%;
    height: 130px;
    margin-top: -9px;
    .wrapper {
      position: relative;
    }
    nav {
      display: none;
    }
    .adaptive-menu {
      display: block;
      position: relative;
      width: 32px;
      height: 25px;
      .close {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }
      &:hover {
        cursor: pointer;
        li {
          border-bottom: 2px solid $color-hover;
        }
        svg {
          rect {
            fill: $color-hover;
          }
        }
      }
      svg {
        rect {
          transition: all 0.35s ease-in;
        }
      }
    }

    .burger-menu {
      position: absolute;
      top: 0;
      right: 0;
      @include setFlex($display: flex, $direction: column);
      li {
        @include setSize($w: 32px, $h: 2px);
        padding-top: 6px;
        border-bottom: 2px solid #fff;
        transition: all 0.35s ease-in;
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }
}
@media screen and (max-width: $screen-size-small) {
  header {
    margin-top: -15px;
  }
}
@media screen and (max-width: $screen-size-tiny) {
  header {
    margin-top: 0;
    height: 90px;
    padding: 0;
    padding-left: 4px;
    display: flex;
  }
  h1 {
    font-size: 16px;
  }
  .logo {
    width: 131px;
    svg {
      @include setSize($w: 29px, $h: 16px);
    }
  }
}
