@import '../util/variables';
@import '../util/util';

main {
  min-width: $screen-size-big;
  margin: 0 auto;

  button {
    border: none;
  }
  section {
    .wrapper {
      height: inherit;
      display: flex;
      justify-content: space-between;
    }
  }
  .section-dark {
    background-color: $color-bg-dark;
  }
  .section-light {
    background-color: #fff;
    padding: 75px 0;
  }

  .welcome {
    height: 810px;
    color: #fff;
    .wrapper {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
    .text {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 153px;
      width: 598px;
      height: 388px;
      z-index: 10;
      p {
        margin-top: 26px;
        @include setFont(Roboto, 28px, 300, 2px);
      }
      a {
        display: inline-block;
        margin-top: 76px;
        padding: 23px 66px;
        border-radius: 10px;
        @include setFont(Roboto, 22px, 300, 2px);
        color: inherit;
        background-color: $color-attract;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          background: $color-hover;
          transform: scale(1.05);
          box-shadow: 0px 0px 10px 5px lighten($color-bg-dark, 20%);
        }
      }
    }
    .img {
      width: 1000px;
      height: 750px;
      position: relative;

      .shadow {
        position: absolute;
        right: 0;
        top: 0;
        width: inherit;
        height: inherit;
        z-index: 1;
        background: linear-gradient(to right, $color-bg-dark 0%, transparent 30%);
      }
    }
    .pagination {
      padding: 0 17px;
      list-style: none;
      height: 120px;
      width: 600px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-flex;
      justify-content: space-evenly;
      background-color: #000;
      z-index: 10;
      @include setFont(Roboto, 22px, 400);
      div {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        &:nth-of-type(1) {
          width: 76px;
        }
        span {
          height: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
      ul {
        width: inherit;
        height: 40px;
        padding: 0;
        list-style: none;
        display: inline-flex;
        justify-content: space-between;
        li {
          display: inline-flex;
          align-items: center;
        }
      }
      .pages {
        align-self: center;
        width: 180px;
        ul {
          li {
            padding: 0;
            margin: 0;
            .page {
              align-self: center;
              width: 16px;
              height: 16px;
              transition: 0.3s;
            }
            &:hover {
              cursor: pointer;
              .page {
                cursor: inherit;
                background-color: $color-hover;
                transform: scale(0.95);
              }
            }
            .active {
              background-color: $color-hover;
            }
          }
        }
      }
      .arrows {
        height: inherit;
        width: 80px;
        ul {
          li {
            svg {
              path {
                transition: all 0.3s;
              }
            }

            &:hover {
              cursor: pointer;
              svg {
                path {
                  fill: $color-hover;
                  transform: scale(0.95);
                }
              }
            }
          }
        }
      }
    }
  }

  .visiting {
    height: fit-content;
    .wrapper {
      height: inherit;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    h2 {
      margin-top: 3px;
      color: #9d8665;
      &::after {
        bottom: -27px;
      }
    }
    h3 {
      margin-top: 23.4px;
      @include setFont(Forum, 32px, null, 5px);
      text-transform: uppercase;
      position: relative;
      &::after {
        width: 68%;
        content: '';
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #710707;
        transition: all 0.6s;
      }
    }
    p {
      margin-top: 22px;
      @include setFont(Roboto, 22px, 100);
      &:last-of-type {
        margin-top: 10px;
        font-size: 18px;
      }
    }
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-gap: 71px 60px;
      li {
        width: min-content;
        height: min-content;
        transition: all 0.3s;
        a {
          text-decoration: none;
          color: inherit;
        }
        &:hover {
          color: $color-hover;
          transform: scale(1.05);
          box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
          h3 {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .explore {
    color: #fff;
    padding: 75px 0;
    .wrapper {
      height: 715px;
      display: flex;
      justify-content: space-between;
    }
    .text {
      max-width: 659px;

      h2 {
        &::after {
          bottom: -29px;
        }
        margin-bottom: 105px;
      }

      p {
        margin-top: 26px;
        line-height: 1.75;
        @include setFont(Roboto, 22px, 300);
      }
      span {
        color: #caaa7d;
      }
    }
    .img {
      width: 720px;
      position: relative;
      img {
        margin-top: 14px;
        height: 700px;
        position: absolute;
      }
      svg {
        margin-top: 14px;
        z-index: 1;
        right: 36%;
        position: absolute;
      }
    }
  }

  .video {
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    .text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 75px;
    }
    h2 {
      color: #9d8665;
    }
    p {
      line-height: 1.8;
      align-self: center;
      max-width: 720px;
      @include setFont(Roboto, 22px, 300);
    }
    .video {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1440px;
      height: 735px;
      svg {
        path {
          transition: all 0.4s;
        }
        &:hover {
          path {
            fill: $color-hover;
          }
        }
      }
    }
    .play-group {
      position: absolute;
      height: min-content;
      width: min-content;
      top: 44.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      svg {
        &:hover {
          path {
            transform: scale(0.9) translate(10px, 10px);
          }
        }
      }
    }
    img {
      width: 1440px;
      height: 650px;
    }
    .player-panel {
      background: $color-bg-dark;
      width: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      padding: 25px 30px 25px 30px;
      align-items: center;

      svg {
        path {
          transition: all 0.4s;
        }
        &:hover {
          path {
            fill: $color-hover;
          }
        }
      }
    }
    .progress {
      height: 15px;
      width: 930px;
      background: linear-gradient(to right, $color-attract 0%, $color-attract 53.5%, #c4c4c4 53.6%, #c4c4c4 100%);
    }
    .volume {
      height: 15px;
      width: 155px;
      background: linear-gradient(to right, $color-attract 0%, $color-attract 42%, #c4c4c4 42.1%, #c4c4c4 100%);
    }
    .bar {
      border-radius: 1px;
      height: 8px;
      outline: none;
      transition: all 0.3s;
      -webkit-appearance: none;

      &::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        -webkit-appearance: none;
        cursor: pointer;
        background: #fff;
      }
    }
    .slider {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      ul {
        list-style: none;
      }
      .videos {
        width: 1440px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        li {
          iframe {
            width: 452px;
            height: 254px;
          }
        }
      }
      &-position {
        height: 30px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          .page {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            align-self: center;
            background-color: #999999;
            transition: 0.3s;
          }
          svg {
            path {
              transition: 0.3s;
            }
          }
          &:hover {
            cursor: pointer;
            .page {
              cursor: inherit;
              background-color: $color-bg-dark;
              transform: scale(0.9);
            }
            svg {
              path {
                fill: $color-hover;
                transform: scale(0.9);
              }
            }
          }
          .active {
            background-color: $color-bg-dark;
          }
        }
      }
    }
  }

  .gallery {
    padding: 75px 0;
    height: 2200px;
    overflow: clip;
    color: #fff;
    .wrapper {
      height: inherit;
      display: flex;
      flex-direction: column;
    }
    h2 {
      margin-bottom: 75px;
    }

    .pictures {
      height: inherit;
      width: inherit;
      position: relative;
      overflow-y: hidden;
      ul {
        list-style: none;
        height: 3000px;
        columns: 3 456px;
        column-gap: 36px;
        li {
          width: inherit;
          height: min-content;
          margin-bottom: 24px;
          &:nth-of-type(1),
          &:nth-of-type(11) {
            padding-top: 50px;
          }
          img {
            width: 456px;
          }
        }
      }
      .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        height: 400px;
        background: linear-gradient(to top, $color-bg-dark 20%, transparent);
      }
    }
  }

  .tickets {
    position: relative;
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    .data {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: min-content auto auto;
    }
    h2 {
      color: #9d8665;
    }
    img {
      grid-column: 1;
      grid-row: 1 / span 3;
    }
    .ticket {
      display: flex;
      flex-direction: column;
      @include setFont(Roboto, 22px, 300);
      &.type {
        grid-column: 2;
        grid-row: 1;
        margin-left: 60px;
        h3 {
          margin-bottom: 49px;
        }
        label {
          margin-bottom: 24px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          border-radius: 50%;
          width: 16px;
          height: 16px;

          border: 2px solid $color-bg-dark;
          transition: 0.2s all linear;
          margin-right: 24px;
        }

        input:checked {
          background: radial-gradient($color-bg-dark 35%, transparent 36%);
        }
      }
      &.amount {
        justify-self: end;
        width: 150px;
        grid-column: 3;
        grid-row: 1;
        h3 {
          text-align: right;
          margin-bottom: 25px;
        }
        input {
          width: inherit;
          height: inherit;
          @include setFont(Roboto, 22px, 300);
          text-align: center;
          border: 3px solid $color-bg-dark;
          &[type='number']::-webkit-inner-spin-button,
          &[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .age {
          p {
            margin-bottom: 13px;
          }
        }
        .senior {
          margin-top: 12px;
        }
      }
      .btn-amount {
        width: 150px;
        height: 48px;
        position: relative;
        .btn {
          @include setFont(Roboto, 32px, 400);
          margin: 0;
          width: 25px;
          height: inherit;
          position: absolute;
          border: none;
          background: transparent;
          top: 0;
          &:nth-of-type(1) {
            left: 10px;
          }
          &:nth-of-type(2) {
            right: 10px;
          }
        }
      }
    }
    h3 {
      @include setFont(Roboto, 28px, 700);
      margin-bottom: 50px;
    }
    .total {
      margin-top: 51px;
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 1.65px;
    }
    .btn-buy {
      margin-top: 60px;
      width: 175px;
      height: 50px;
      grid-column: 3;
      grid-row: 2;
      justify-self: end;
      @include setFont(Roboto, 22px, 300, 2px);
      background-color: $color-bg-dark;
      color: #fff;
      transition: all 0.35s;
      &:hover {
        background: $color-hover;
        transform: scale(1.15);
        color: $color-bg-dark;
        box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
      }
    }
  }

  .parallax {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url('../assets/img/parallax.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

.contacts {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .data {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    color: #9d8665;
    &::after {
      bottom: -29px;
    }
  }
  h3 {
    @include setFont(Roboto, 28px, 400);
    margin-bottom: 50px;
  }
  li {
    margin-top: 24px;
    @include setFont(Roboto, 22px, 300);
    a {
      text-decoration: none;
      color: inherit;
      transition: all 0.4s;
      &:hover {
        cursor: pointer;
        color: $color-hover;
      }
    }
  }
  ul {
    list-style: none;
  }
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  transition: all 1s;
  z-index: 100;
  margin-left: -200vw;

  .booking {
    background-color: #fff;
    margin: 0 auto;
    width: 1440px;
    height: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    .close {
      position: absolute;
      top: 34px;
      right: 29px;
    }
    .forum-header {
      width: inherit;
      border-bottom: 3px solid $color-attract;
      margin-bottom: 60px;
      h3 {
        @include setFont(Forum, 50px, null);
        text-transform: uppercase;
        color: $color-hover;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
        color: $color-attract;
        @include setFont(Roboto, 18px, 400);
      }
    }

    .details {
      height: 663px;
      width: 400px;
      display: flex;
      flex-direction: column;
      .input-group {
        height: 45px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        .data-type {
          position: absolute;
          display: flex;
          align-items: center;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
          @include setFont(Roboto, 18px, 400);
          svg {
            margin-right: 14px;
          }
        }
      }
      input {
        height: inherit;
        width: inherit;
        padding-left: 95px;
        border: 1px solid $color-bg-dark;
        @include setFont(Roboto, 18px, 400);
        color: $color-bg-dark;
      }
      select {
        height: inherit;
        width: inherit;
        -webkit-appearance: none;
        background: url(../assets/svg/form/arrow.svg);
        background-repeat: no-repeat;
        background-position: right 14px top 14px;
      }
      .date-time {
        display: flex;
        justify-content: space-between;
        .input-group {
          width: 190px;
          input {
            padding-left: 87px;
          }
        }
        input {
          &::-webkit-calendar-picker-indicator {
            padding: 0;
            width: 40px;
            height: 45px;
            margin: 0;
            background: url(../assets/svg/form/arrow.svg);
            background-repeat: no-repeat;
            background-position: right 14px top 14px;
          }
        }
      }
      .ticket-amount {
        height: 135px;
        padding: 10px 15px 15px 15px;
        border: 1px solid $color-bg-dark;
        h4 {
          @include setFont(Forum, 18px, null);
          color: $color-hover;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $color-attract;
          }
        }
      }
      .type {
        margin-top: 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include setFont(Roboto, 18px, 400);
        &:nth-of-type(2) {
          margin-top: 17px;
        }
        .btn-amount {
          width: 105px;
          height: 25px;
          display: flex;
          align-content: center;
          .btn {
            @include setFont(Roboto, 18px, 400);
            height: inherit;
            width: 35px;
            background-color: $color-bg-dark;
            border: none;
            color: #fff;
          }
          input {
            padding: 0;
            width: 35px;
            height: inherit;
            text-align: center;
            &[type='number']::-webkit-inner-spin-button,
            &[type='number']::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }

    .payment {
      height: min-content;
      width: 530px;
      height: 663px;
      margin-left: 40px;
      border: 1px solid $color-bg-dark;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .data-type {
        width: 470px;
        margin: 25px 30px 22px 30px;
        position: relative;
        @include setFont(Roboto, 18px, 300);
        h3 {
          @include setFont(Roboto, 32px, 400);
          margin-bottom: 2px;
        }
        p {
          @include setFont(Roboto, 22px, 400);
          margin-bottom: 7px;
          color: $color-attract;
        }

        div {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          &:last-of-type {
            margin-bottom: 0;
          }
          svg {
            margin-right: 15px;
          }
        }
        img {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .summary {
        width: 470px;
        margin: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        @include setFont(Roboto, 22px, 400);
        .amount {
          display: flex;
          justify-content: space-between;
          .amount-type {
            display: flex;
            align-items: center;
            .amount-total {
              width: 32px;
              height: 20px;
              font-size: 18px;
              text-align: center;
              background-color: $color-bg-dark;
              color: #a4a4a3;
              border-radius: 5px;
              margin-right: 10px;
            }
          }
        }
        .underline {
          margin-top: 5px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $color-attract;
          }
        }
        .whole-sum {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          h4 {
            @include setFont(Roboto, 32px, 400);
          }
          p {
            @include setFont(Roboto, 32px, 400);
          }
          margin-bottom: 10px;
        }
      }
      .summary-card {
        width: 470px;
        height: 241px;
        margin: 0 30px 26px 30px;
        position: relative;
        .card {
          width: 360px;
          height: 211px;
          @include setFont(Roboto, 12px, 400);
          display: inline-flex;
          flex-direction: column;
          position: relative;
          &.front {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background: #bcbcbc;
            padding: 15px 20px;
            input {
              height: 35px;
              margin: 5px 0 10px 0;
              padding-left: 10px;
              @include setFont(Roboto, 12px, 400);
              &.number {
                width: 215px;
              }
              &.name {
                width: 320px;
                margin-bottom: 0;
              }
            }
            div {
              input {
                width: 100px;
                &:first-of-type {
                  margin-right: 15px;
                }
              }
            }
            .visa {
              position: absolute;
              top: 34px;
              right: 20px;
            }
            .mastercard {
              position: absolute;
              top: 65px;
              right: 20px;
            }
          }
          &.back {
            position: absolute;
            bottom: 0;
            right: 0;
            background: #939393;
            align-items: end;
            .line {
              width: 100%;
              height: 45px;
              margin: 25px 0 15px 0;
              background-color: #161615;
            }
            .container {
              width: 75px;
              margin-right: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              p {
                width: 55px;
                &:last-of-type {
                  font-size: 10px;
                }
              }
            }
            input {
              height: 35px;
              width: 75px;
              margin: 5px 0 6px 0;
              padding-left: 10px;
            }
          }
        }
      }

      .submit {
        width: 220px;
        height: 45px;
        margin: 0 30px 20px 30px;
        background: $color-attract;
        border: none;
        color: #fff;
        text-align: center;
        @include setFont(Roboto, 22px, 400);
        transition: all 0.35s;
        &:hover {
          background: $color-hover;
          transform: scale(1.1);
          color: $color-bg-dark;
          box-shadow: 0px 0px 7.5px 5px darken(#fff, 20%);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 420px) {
}
