@import './base/base';
@import './base/typography';

@import './layout/common';
@import './layout/header';
@import './layout/main';
@import './layout/footer';

@import './util/mixins';
@import './util/variables';

.invisible {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
}
