@import '../util/variables';

footer {
  height: fit-content;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $color-text-default;
  ul {
    display: flex;
  }
  li,
  a {
    display: flex;
    align-items: center;
    align-content: center;
  }
  li {
    &:nth-of-type(1) {
      flex-grow: 2;
    }
    &:nth-of-type(2) {
      margin-right: 4rem;
    }
  }

  svg {
    height: 3rem;
  }
  #rs-icon {
    fill: $color-text-default;
  }
  #git-icon {
    margin-right: 1rem;
    path {
      fill: $color-text-default;
    }
  }
}
