@import '../util/variables';
@import '../util/mixins';

main {
  width: 100%;
  flex-grow: 5;
  color: $color-text-default;
  overflow: hidden;
}

.container {
  &-question {
    z-index: 1;
    display: grid;
    grid-row-gap: 3rem;
  }
  &-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 2rem;
  }
  &-category {
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);

    li {
      pointer-events: none;
    }
  }
}

.menu {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &-list {
    display: flex;
    flex-flow: row;
    width: 100%;
  }
  li {
    width: 18rem;
    &:last-of-type {
      margin-left: 3rem;
    }
  }
  @include art-logo(1);
}
.art-logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.configurator {
  position: absolute;
  top: 1.5rem;
  right: 3rem;

  &-icon {
    height: 3rem;
    width: fit-content;
    transition: all 0.5s;

    path {
      fill: #fff;
    }

    &:hover {
      transform: rotate(240deg);
    }
  }
}

// QUESTION SECTION ****************************************************
.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    display: flex;

    &:nth-of-type(2) {
      width: 85%;
    }
  }
}

.exit {
  height: 2rem;
  width: fit-content;
  path {
    fill: #fff;
  }
}
.timebar {
  flex-grow: 3;
  padding: 0 0.5rem;
}
.timelimit {
  width: 100%;
}

.question {
  text-align: center;
}

.question-img-container {
  position: relative;
}

.questions-progress {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
}
.question-number {
  z-index: 2;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: rgb(192, 192, 192);
  margin: 0 0.6rem;
}

.question-img {
  max-width: 70vw;
  max-height: 60vh;
}

.answers {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-rows: repeat(2, auto);
  align-items: center;
}

.text-answer {
  z-index: inherit;
  width: 95%;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 1rem 0;
  border: 1px solid #fff;
  border-radius: 5rem;
}

.img-answer {
  max-width: 25rem;
  pointer-events: none;
}

.answer-option {
  transition: all 0.3s;
  &-img {
    &:hover {
      transform: scale(0.95);
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.answer-paints-progress {
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
}

// RESULT SECTION *******************************************************
.result {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.container-result {
  padding: 2rem;
  max-width: 40rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #000;
  li {
    &:first-of-type {
      margin-top: 0;
    }
    margin-top: 1rem;
  }
}

.result-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    border-radius: 2rem;
  }
}
.result-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 1rem;
  bottom: 1rem;

  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  svg {
    height: 3rem;
    width: fit-content;
    fill: #000;
  }
}
.result-image-name {
  font-size: 2.5rem;
  text-align: center;
}

.result-image-author {
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}
.result-button-option {
  padding: 0.2rem 2rem !important;
  border: 1.5px solid #000 !important;
  color: #000 !important;
}
.btn-indent {
  margin-right: 1rem;
}
.result-header {
  font-size: 2.5rem;
}

// SETTINGS SECTION *****************************************************
.coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
}
.top {
  z-index: 2;
  position: absolute;
  top: 2rem;
  left: 0;
  padding: 0 3rem;

  display: flex;
  justify-content: space-between;
  width: 100%;

  li {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      color: $color-background-main;
      path {
        fill: $color-background-main;
      }
    }
  }
  svg {
    pointer-events: none;
    height: 2.5rem;
  }
  p {
    pointer-events: none;
    user-select: none;
    margin-left: 0.5rem;
  }
}

.settings {
  color: #fff;
  li {
    margin-bottom: 3rem;
  }
  h3 {
    margin-bottom: 1rem;
  }

  h3,
  div,
  li,
  p,
  button,
  span {
    position: relative;
    z-index: 2;
  }
}

.volume-bar {
  width: 30rem;
  margin-bottom: 1rem;
}
.sound {
  display: flex;
  justify-content: space-between;
  svg {
    height: 3rem;
    width: min-content;
    path {
      fill: #fff;
    }
  }
}

.vol-icon {
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    path {
      fill: $color-background-main;
    }
  }
}

.switcher-container {
  display: flex;
}
.time-switcher {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  height: 2.2rem;
  width: 6rem;
  border-radius: 3rem;
  background: $color-background-main;
  transition: all 0.3s;
}
.time-switcher-content {
  justify-content: flex-end;
}
.switcher {
  height: 2rem;
  width: 2rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  background: #000;
  &:hover {
    cursor: pointer;
  }
}
.time-btn {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background: $color-background-main;
  }
  &:active {
    background: darken($color-background-main, 40%);
  }
}

.desigion {
  display: flex;
  justify-content: end;
}
.settings-save-option {
  padding: 0.2rem 1.5rem !important;
}
.save {
  margin-left: 1.5rem;
}

// CATEGORIES *******************************************************

.category-header {
  position: absolute;
  top: 1.5rem;
  left: 4rem;

  display: flex;
  align-items: center;

  li {
    width: fit-content;
  }
  @include art-logo(0.5);
}
.category-title {
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  color: rgb(2, 221, 2);
}
.card {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 0.5rem;
  color: rgb(0, 224, 231);
  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);

    .play-btn {
      transform: translateY(0);
    }
  }
  z-index: 2;
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.card-data {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.img-category {
  border-radius: 0.5rem;
  width: 15rem;
}
.home {
  margin-left: 4rem;
  border: 1px;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: $color-background-main;
  }
}

.play-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  border-radius: 1rem 1rem 0 0;

  background: $color-background-main;
  color: #000;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
  transform: translateY(4rem);
  z-index: 5;
}

// CATEGORY GALLERY
.category-gallery {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1rem 2rem;
}
.card-description {
  width: 100%;
  height: max-content;
  padding: 1rem;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-flow: column;
  color: $color-text-dark;
  font-size: 110%;

  transition: all 0.4s;
  transform: translateY(100%);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:last-of-type {
      margin-top: 1rem;
    }
  }
}

.card-cover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: all 0.3s;
  background: transparent; //rgba(255, 73, 1, 0.9)
}

.card {
  &:hover {
    .card-cover {
      background: rgba(255, 73, 1, 0.95);
    }

    .card-description {
      transform: translateY(0);
    }
  }
}

.progress-filter {
  filter: grayscale(100%);
}

.card-img {
  width: 100%;
  img {
    width: inherit;
  }
}
