@import '../util/mixins';
@import '../util/variables';

.header {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__nav-list {
    color: $color-text-main;
    display: flex;
  }
}
.nav-list {
  &__item {
    @include hover-color;
    margin-right: 3rem;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: 0;
    }

    &_state_active {
      border-bottom: 1px solid $color-mark-favourite;
    }
  }
}

.header-box {
  &__icon-box {
    @include hover-fill;
    @include hover-rotate;
    margin-right: 3rem;
  }
  &__icon {
    @include size(min-content, 4rem);
    path{
      fill: $color-text-main;
    }
  }

  &__toy-count-box {
    @include size(3rem, 3.9rem);
    display: flex;
    align-items: flex-end;
    background-image: url(../assets/svg/ball-2.svg);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: bottom 0.1rem center;
    margin-left: 3rem;
  }

  &__toy-counter {
    @include equalSize(3.1rem);
    color: $color-text-main;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(0, 132, 141);
  }

  &__side {
    &-left,
    &-right {
      display: flex;
      align-items: center;
    }
  }
  &__search {
    position: relative;
  }
}

.search-box {
  &__field {
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    width: 30rem;
    border: 1px solid $color-background-option;
    color: $color-text-main;

    background-color: $color-background-main;
    background-image: url(../assets/svg/search.svg);
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    display: none;
    transition: all 0.35s;
    &:focus {
      outline: none;
    }
    &:hover {
      background-size: 1.5rem;
    }
    &_state_visible {
      display: inline;
    }
  }
  &__value-clearer {
    @include equalSize(2rem);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    z-index: 10;
    display: none;
    path {
      fill: $color-mark-normal;
    }
    &:hover {
      cursor: pointer;
      path {
        fill: $color-mark-favourite;
      }
    }
    &_state_visible {
      display: inline;
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    &__box {
      flex-direction: column;
    }
  }
}
