@import '../util/mixins';
@import '../util/variables';

main {
  background-image: url(../assets/bg-1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main__box {
  height: 100%;
  display: flex;
}

.main-box {
  &__home-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-text-main;
    text-align: center;
    transform: translate(-50%, -35%);
  }

  &__filters {
    overflow: hidden;
    display: grid;
    grid-gap: 2rem;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem 2rem;
    background: $color-background-filters;

    &_state_hidden {
      width: 0;
      height: 0;
      padding: 0;
    }
  }
  &__toys {
    height: 100%;
    flex-grow: 2;
    padding: 2rem 1rem 2rem 3rem;
    background: $color-background-toy_list;
    position: relative;
  }
  &__pinner {
    @include size(12rem, 4rem);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-38%, -50%) rotate(-90deg);
    background: $color-background-filters;
    color: $color-text-main;
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 0 0 1.5rem 1.5rem;
    z-index: 10;

    &:hover {
      @include hover;
    }
  }
  &__empty-result {
    display: none;
    &_state_visible {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: $color-background-filters;
      color: $color-text-main;
      width: 40rem;
      padding: 2rem 4rem;
      border-radius: 1.5rem;
      text-align: center;
      font-size: 2rem;
    }
  }
}

.home-wrapper {
  &__greeting {
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-wrapper {
      background: $color-background-main;
      margin-bottom: 5rem;
      border-radius: 1.5rem;
      padding: 2rem 4rem;
      font-size: 3rem;
    }
  }
  &__link {
    width: fit-content;
    background: $color-background-main;
    padding: 1rem 6rem;
    border-radius: 50rem;
    font-size: 2.3rem;
    transition: all 0.35s;
    &:hover {
      cursor: pointer;
      @include hover-scale;
    }
  }
}

.filters {
  &__header {
    color: $color-text-main;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    height: min-content;
  }

  &__property-filter,
  &__range-filter,
  &__sorter {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: min-content;
    padding: 1rem 2rem;
    background: $color-background-main;
    border-radius: 1rem;
  }

  &__filter-type_state_active {
    border: 1px solid $color-background-option;
    border-radius: 2px;
    path {
      fill: $color-mark-favourite;
    }
  }
}

.shape-list,
.color-list,
.size-list,
.favourite-list {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.2rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.list {
  &__info {
    color: $color-text-main;
    margin-right: 1.5rem;
  }
}

.shape-list {
  &__item {
    @include hover;
    @include hover-rotate;

    svg {
      @include size(min-content, 3rem);
    }
  }
}

.color-list {
  &__item {
    margin-right: 1.5rem;
    @include size-n-pad(2.2rem, 2.2rem, 0.2rem);
    @include hover-scale;

    border-radius: 0.3rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bolder;

    &_color {
      &_white {
        background: rgb(255, 255, 255);
      }
      &_yellow {
        background: rgb(255, 255, 0);
      }
      &_red {
        background: rgb(255, 0, 0);
      }
      &_blue {
        color: $color-text-main;
        background: rgb(0, 0, 255);
      }
      &_green {
        background: rgb(0, 255, 0);
      }
    }
  }
}

.size-list {
  &__item {
    @include hover;
    @include hover-rotate;

    &_size {
      &_big {
        svg {
          @include equalSize(4rem);
        }
      }
      &_medium {
        svg {
          @include equalSize(3.2rem);
        }
      }
      &_small {
        svg {
          @include equalSize(2.6rem);
        }
      }
    }
  }
}

.favourite-list {
  &__item {
    @include hover-scale;
    @include equalSize(2.5rem);
    border: 1px solid $color-background-option;
    border-radius: 0.3rem;
    color: $color-text-main;
  }
}

.range-filter {
  &__list {
    display: grid;
    grid-row-gap: 1rem;
  }
  &__header {
    color: $color-text-main;
    font-size: 1.8rem;
  }
  &__item {
    display: grid;
    &-wrapper {
      align-items: center;
      display: flex;
    }
  }
  &__value {
    width: 5.5rem;
    background-color: $color-background-option;
    padding: 0.5rem;
    border-radius: 20rem;
    text-align: center;
    font-weight: bolder;
    &_num,
    &_year {
      &_min {
        margin-right: 1.5rem;
      }
      &_max {
        margin-left: 1.5rem;
      }
    }
  }
  &__range-background {
    @include size(100%, 0.6rem);
    border-radius: 0.5rem;
    background: $color-mark-favourite;
  }
  &__input {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;

    &-wrapper {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &::-webkit-slider-runnable-track {
      height: 1rem;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      z-index: 5;
      width: 1rem;
      height: 2rem;
      border-radius: 0 2rem;
      background: #fff;
      margin-top: -0.6rem;
      cursor: pointer;
    }
  }
}

.filters__sorter {
  position: relative;
}

.sorter {
  &__list-wrapper {
    @include size(32rem, 18rem);
    color: $color-text-main;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sort-list {
    @include size(fit-content, 10rem);
    overflow-y: auto;
    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: max-content;
    align-items: center;
    background: #000;
    padding: 1.2rem 2.2rem;
    border-radius: 1.5rem;
    margin-top: -20rem;
    z-index: 5;
    transition: all 0.35s;

    &_state_reveal {
      margin-top: 0;
      position: absolute;
      top: 3rem;
      left: 0;
    }
  }
  &__sort-value-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    background: $color-background-option;
    border-radius: 1.5rem;
    padding: 0 1rem;

    &:hover {
      cursor: pointer;
    }
    svg {
      @include equalSize(2.5rem);
      fill: $color-text-main;
    }
  }
  &__sort-value {
    pointer-events: none;
  }

  &__reset {
    width: fit-content;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem 2rem;
    background: $color-background-option;
    border-radius: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
  }
}
.sort-list {
  &__item {
    padding: 0.25rem 2rem;
    border: 1px solid $color-text-main;
    border-radius: 5rem;
    padding-left: 2rem;
    background: $color-background-option;
    transition: all 0.35s;
    &:hover {
      cursor: pointer;
      transform: translateX(1rem);
    }
  }
}

.toys {
  &__list {
    height: 85vh;
    overflow-y: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, $size-widht-card);
    grid-template-rows: repeat(auto-fit, $size-height-card);
    grid-gap: 3rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  &-list__item {
    @include size($size-widht-card, $size-height-card);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    background: $color-background-main;
    color: $color-text-main;
    transition: all 0.35s;
    &:hover {
      cursor: pointer;
    }
  }
}
.toy-card {
  &__header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__img {
    width: 9rem;

    &-wrapper {
      height: min-content;
    }
  }
  &__mark {
    @include size(110%, 4rem);
    margin-top: 1rem;
    margin-left: -1.6rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: $color-mark-normal;
    &_state {
      &_favourite {
        background-color: $color-mark-favourite;
      }
    }
  }
  &__content {
    &-wrapper {
      display: flex;
    }
    &_left {
      display: grid;
    }
    &_right {
      margin-left: 1rem;
    }
  }
  &__description-list {
    font-size: 1.6rem;
    display: grid;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    &__box {
      flex-direction: column;
    }
    .main-box {
      &__filters {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;
      }
    }
  }
  .shape-list,
  .color-list {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: repeat(5, auto);
    li:nth-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 6;
      margin-bottom: 0.5rem;
      margin-right: 0;
    }
  }
  .size-list {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: repeat(3, auto);
    li:nth-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 0.5rem;
      margin-right: 0;
    }
  }
  .main-box {
    &__pinner {
      top: 0;
      left: 0;
      transform: translate(0, 0) rotate(0);
    }
    &__toys {
      padding: 4rem 1rem 2rem 1rem;
    }
  }
  .filters {
    &__property-filter,
    &__range-filter,
    &__sorter {
      padding: 1rem;
    }

    &__header {
      font-size: 90%;
      word-wrap: normal;
    }
  }
  .range-filter {
    &__item-wrapper {
      display: grid;
    }
    &__value {
      grid-row: 2;
      &:nth-of-type(1) {
        justify-self: start;
      }
      &:nth-of-type(2) {
        justify-self: end;
      }
    }
    &__input-wrapper {
      grid-row: 1;
      grid-column: span 2;
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .toy-card {
    &__img {
      width: 6rem;
    }
    &__header {
      word-wrap: normal;
      height: 36px;
    }
  }
  .toys {
    &__list {
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fit, 23.2rem);
      grid-template-rows: auto;
      grid-gap: 1rem;
    }
  }
  .toys-list {
    &__item {
      width: 23.2rem;
      height: min-content;
      transform: scale(0.9);
    }
  }
}
