@import './variables';

@mixin equalSize($size: 0) {
  width: $size;
  height: $size;
}

@mixin size($size-width: 0, $size-height: 0) {
  width: $size-width;
  height: $size-height;
}

@mixin size-n-pad($size-width: 0, $size-height: 0, $size-padding: 0) {
  @include size($size-width, $size-width);
  padding: $size-padding;
}

@mixin hover-scale() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
@mixin hover-rotate() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    transform: rotate(0.01turn);
  }
}
@mixin hover-fill() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    color: $color-mark-favourite;
    path {
      fill: $color-mark-favourite;
    }
  }
}

@mixin hover-color() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    color: $color-mark-favourite;
  }
}
@mixin hover-bright() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    filter: contrast(150%) brightness(110%) saturate(120%);
  }
}

@mixin hover-translate() {
  transition: all 0.35s;
  &:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
  }
}

@mixin img-align-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
