$color-text-main: #d5edfd;
$color-text-dark: #000;
$color-background-main: rgba(0, 72, 105, 0.85);
$color-background-option: rgba(1, 206, 206, 0.8);
$color-mark-normal: #d5edfd;
$color-mark-favourite: rgb(19, 228, 0);

$color-xmas-light-white: #fff;
$color-xmas-light-red: rgb(255, 0, 0);
$color-xmas-light-blue: rgb(0, 0, 255);
$color-xmas-light-green: rgb(0, 255, 0);
$color-xmas-light-yellow: rgb(255, 255, 0);
$color-xmas-light-purple: rgb(162, 0, 255);
$color-xmas-light-pink: rgb(255, 0, 200);
$color-xmas-light-multy: linear-gradient(120deg, red 0%, red 37%, rgb(0, 255, 0) 37%, rgb(0, 255, 0) 62%, blue 62%, blue 100%);

$color-background-filters: rgba(0, 0, 0, 0.85);
$color-background-toy_list: rgba(255, 255, 255, 0.35);

$size-height-card: 21.5rem;
$size-widht-card: 29rem;

$size-xmas_tree-img: 8rem;
$size-xmas_background-img: 4rem;

$size_xmas-toy_img: 5rem;

$size-decoration-column: 40rem;