$color-text-main: #d5edfd;
$color-text-dark: #000;
$color-background-main: rgba(0, 72, 105, 0.85);
$color-background-option: rgba(1, 206, 206, 0.8);
$color-mark-normal: #d5edfd;
$color-mark-favourite: rgb(19, 228, 0);

$color-xmas-light-white: #ffffff;
$color-xmas-light-red: #ff0000;
$color-xmas-light-blue: #0000ff;
$color-xmas-light-green: #00ff00;
$color-xmas-light-yellow: #ffff00;
$color-xmas-light-purple: #a200ff;
$color-xmas-light-pink: #ff00c8;
$color-xmas-light-multy: linear-gradient(120deg, red 0%, red 37%, #00ff00 37%, #00ff00 62%, blue 62%, blue 100%);

$color-background-filters: rgba(0, 0, 0, 0.85);
$color-background-toy_list: rgba(255, 255, 255, 0.35);

$size-height-card: 21.5rem;
$size-widht-card: 29rem;

$size-xmas_tree-img: 8rem;
$size-xmas_background-img: 4rem;

$size_xmas-toy_img: 5rem;

$size-decoration-column: 40rem;