$screen-size-big: 1920px;
$screen-size-normal: 1024px;
$screen-size-small: 768px;
$screen-size-tiny: 420px;

$color-bg-dark: #030303;
$color-attract: #710707;
$color-hover: #9d8665;

$margin-underline: 103px;
