$screen-size-big: 1920px;
$screen-size-normal: 1024px;
$screen-size-small: 768px;
$screen-size-tiny: 420px;

$color-bg-dark: #030303;
$color-attract: #710707;
$color-hover: #9d8665;

$margin-underline-big: 103px;
$margin-underline-medium: 83px;
$margin-underline-small:63px;

$section-padding-big: 75px 0;
$section-padding-medium: 60px 0;
$section-padding-small: 40px 0;